# Importing libraries

In [1]:
import pandas as pd
import numpy as np
from collections import Counter
import seaborn as sns
import matplotlib.pyplot as plt

# CSVs loading

In [3]:
reviews = pd.read_csv('/Users/danielebelmiro/Data_Analytics_Bootcamp/Rotten/rotten_tomatoes_movie_reviews.csv')

In [4]:
reviews.head()

,id,reviewId,creationDate,criticName,isTopCritic,originalScore,reviewState,publicatioName,reviewText,scoreSentiment,reviewUrl
0,beavers,1145982,2003-05-23,Ivan M. Lincoln,False,3.5/4,fresh,Deseret News (Salt Lake City),Timed to be just long enough for most youngste...,POSITIVE,http://www.deseretnews.com/article/700003233/B...
1,blood_mask,1636744,2007-06-02,The Foywonder,False,1/5,rotten,Dread Central,It doesn't matter if a movie costs 300 million...,NEGATIVE,http://www.dreadcentral.com/index.php?name=Rev...
2,city_hunter_shinjuku_private_eyes,2590987,2019-05-28,Reuben Baron,False,NaN,fresh,CBR,The choreography is so precise and lifelike at...,POSITIVE,https://www.cbr.com/city-hunter-shinjuku-priva...
3,city_hunter_shinjuku_private_eyes,2558908,2019-02-14,Matt Schley,False,2.5/5,rotten,Japan Times,The film's out-of-touch attempts at humor may ...,NEGATIVE,https://www.japantimes.co.jp/culture/2019/02/0...
4,dangerous_men_2015,2504681,2018-08-29,Pat Padua,False,NaN,fresh,DCist,Its clumsy determination is endearing and some...,POSITIVE,http://dcist.com/2015/11/out_of_frame_dangerou...

In [5]:
movies = pd.read_csv('/Users/danielebelmiro/Data_Analytics_Bootcamp/Rotten/rotten_tomatoes_movies.csv')

In [6]:
movies.head()

,id,title,audienceScore,tomatoMeter,rating,ratingContents,releaseDateTheaters,releaseDateStreaming,runtimeMinutes,genre,originalLanguage,director,writer,boxOffice,distributor,soundMix
0,space-zombie-bingo,Space Zombie Bingo!,50.0,NaN,NaN,NaN,NaN,2018-08-25,75.0,"Comedy, Horror, Sci-fi",English,George Ormrod,"George Ormrod,John Sabotta",NaN,NaN,NaN
1,the_green_grass,The Green Grass,NaN,NaN,NaN,NaN,NaN,2020-02-11,114.0,Drama,English,Tiffany Edwards,Tiffany Edwards,NaN,NaN,NaN
2,love_lies,"Love, Lies",43.0,NaN,NaN,NaN,NaN,NaN,120.0,Drama,Korean,"Park Heung-Sik,Heung-Sik Park","Ha Young-Joon,Jeon Yun-su,Song Hye-jin",NaN,NaN,NaN
3,the_sore_losers_1997,Sore Losers,60.0,NaN,NaN,NaN,NaN,2020-10-23,90.0,"Action, Mystery & thriller",English,John Michael McCarthy,John Michael McCarthy,NaN,NaN,NaN
4,dinosaur_island_2002,Dinosaur Island,70.0,NaN,NaN,NaN,NaN,2017-03-27,80.0,"Fantasy, Adventure, Animation",English,Will Meugniot,John Loy,NaN,NaN,NaN

In [7]:
movies.loc[movies['title'] == "How It Ends"]

,id,title,audienceScore,tomatoMeter,rating,ratingContents,releaseDateTheaters,releaseDateStreaming,runtimeMinutes,genre,originalLanguage,director,writer,boxOffice,distributor,soundMix
27564,how_it_ends_2021,How It Ends,42.0,68.0,R,"['Sexual Reference', 'Language Throughout', 'D...",2021-07-20,2021-07-20,82.0,"Comedy, Drama",English,"Zoe Lister Jones,Daryl Wein","Daryl Wein,Zoe Lister Jones",$11.9K,MGM,NaN
99239,how_it_ends,How It Ends,17.0,17.0,NaN,NaN,NaN,2018-07-13,113.0,"Sci-fi, Mystery & thriller, Action, Adventure",English,David M. Rosenthal,Brooks McLaren,NaN,NaN,NaN

# Data cleaning

In [8]:
print(movies.info())
print(reviews.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143258 entries, 0 to 143257
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    143258 non-null  object
 1   title                 142891 non-null  object
 2   audienceScore         73248 non-null   float64
 3   tomatoMeter           33877 non-null   float64
 4   rating                13991 non-null   object
 5   ratingContents        13991 non-null   object
 6   releaseDateTheaters   30773 non-null   object
 7   releaseDateStreaming  79420 non-null   object
 8   runtimeMinutes        129431 non-null  float64
 9   genre                 132175 non-null  object
 10  originalLanguage      129400 non-null  object
 11  director              139041 non-null  object
 12  writer                90116 non-null   object
 13  boxOffice             14743 non-null   object
 14  distributor           23001 non-null   object
 15  soundMix              15917 non-null   object
dtypes: float64(3), object(13)
memory usage: 17.5+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1444963 entries, 0 to 1444962
Data columns (total 11 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   id              1444963 non-null  object
 1   reviewId        1444963 non-null  int64
 2   creationDate    1444963 non-null  object
 3   criticName      1444963 non-null  object
 4   isTopCritic     1444963 non-null  bool
 5   originalScore   1009745 non-null  object
 6   reviewState     1444963 non-null  object
 7   publicatioName  1444963 non-null  object
 8   reviewText      1375738 non-null  object
 9   scoreSentiment  1444963 non-null  object
 10  reviewUrl       1234038 non-null  object
dtypes: bool(1), int64(1), object(9)
memory usage: 111.6+ MB
None

## Removing duplicates

### reviews

In [9]:
reviews.duplicated().sum()

12394

In [10]:
reviews[reviews['reviewId'] == 102699341]

,id,reviewId,creationDate,criticName,isTopCritic,originalScore,reviewState,publicatioName,reviewText,scoreSentiment,reviewUrl
983893,it_aint_over_2022,102699341,2022-06-13,Leonard Maltin,True,NaN,fresh,leonardmaltin.com,Yogi Berra lived the kind of life we wish our ...,POSITIVE,https://leonardmaltin.com/i-go-for-yogi-it-ain...
1371660,it_aint_over_2022,102699341,2022-06-13,Leonard Maltin,True,NaN,fresh,leonardmaltin.com,Yogi Berra lived the kind of life we wish our ...,POSITIVE,https://leonardmaltin.com/i-go-for-yogi-it-ain...

In [11]:
reviews = reviews.drop_duplicates().reset_index(drop=True)

In [12]:
reviews.duplicated().sum()

0

#### Checking to see if there are duplicates in the subset 'reviewId':

In [13]:
reviews[reviews.duplicated(subset=['reviewId'], keep=False)]

Empty DataFrame
Columns: [id, reviewId, creationDate, criticName, isTopCritic, originalScore, reviewState, publicatioName, reviewText, scoreSentiment, reviewUrl]
Index: []

### movies

In [14]:
movies.duplicated().sum()

1204

In [15]:
movies = movies.drop_duplicates().reset_index(drop=True)

#### Checking to see if there are duplicates in the subset 'id':

In [16]:
movies[movies.duplicated(subset=['id'], keep=False)]

,id,title,audienceScore,tomatoMeter,rating,ratingContents,releaseDateTheaters,releaseDateStreaming,runtimeMinutes,genre,originalLanguage,director,writer,boxOffice,distributor,soundMix
9778,nick_fury_agent_of_shield,Nick Fury: Agent of S.H.I.E.L.D.,16.0,NaN,NaN,NaN,NaN,NaN,96.0,Action,English,Rod Hardy,NaN,NaN,NaN,NaN
10057,nick_fury_agent_of_shield,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129053,our_kind_of_traitor_2016,Our Kind of Traitor,50.0,72.0,R,"['Language Throughout', 'Brief Drug Use', 'Nud...",2016-07-01,2016-10-18,108.0,Mystery & thriller,English,Susanna White,Hossein Amini,$3.2M,"Lionsgate Films, Roadside Attractions",Dolby Digital
129439,our_kind_of_traitor_2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# Removing duplicated lines with more NaN values

movies = movies.drop([10057, 129439], axis=0)

In [18]:
movies[movies.duplicated(subset=['id'], keep=False)]

Empty DataFrame
Columns: [id, title, audienceScore, tomatoMeter, rating, ratingContents, releaseDateTheaters, releaseDateStreaming, runtimeMinutes, genre, originalLanguage, director, writer, boxOffice, distributor, soundMix]
Index: []

In [19]:
movies.duplicated().sum()

0

## Dealing with nulls

### movies

In [20]:
movies.shape

(142052, 16)

In [21]:
print(movies.isnull().sum())

id                           0
title                      365
audienceScore            69424
tomatoMeter             108478
rating                  128192
ratingContents          128192
releaseDateTheaters     111540
releaseDateStreaming     63322
runtimeMinutes           13715
genre                    10999
originalLanguage         13748
director                  4183
writer                   52685
boxOffice               127436
distributor             119253
soundMix                126265
dtype: int64

#### Combining release date columns in one new column 'release_year':

In [22]:
# Combine the two columns and fill the new 'release_year' column
movies['release_year'] = movies['releaseDateTheaters'].combine_first(movies['releaseDateStreaming'])

# Convert to datetime and, if possible, extract the year while handling errors
movies['release_year'] = pd.to_datetime(movies['release_year'], errors='coerce').dt.year

# Fill null values with 'Unknown'
movies['release_year'] = movies['release_year'].fillna('Unknown')

# Convert to string without decimal places, only if it's a numeric value
movies['release_year'] = movies['release_year'].apply(lambda x: str(int(x)) if isinstance(x, (int, float)) and x != 'Unknown' else 'Unknown')

# Remove the original columns
movies.drop(columns=['releaseDateTheaters', 'releaseDateStreaming'], inplace=True)

In [23]:
movies.head()

,id,title,audienceScore,tomatoMeter,rating,ratingContents,runtimeMinutes,genre,originalLanguage,director,writer,boxOffice,distributor,soundMix,release_year
0,space-zombie-bingo,Space Zombie Bingo!,50.0,NaN,NaN,NaN,75.0,"Comedy, Horror, Sci-fi",English,George Ormrod,"George Ormrod,John Sabotta",NaN,NaN,NaN,2018
1,the_green_grass,The Green Grass,NaN,NaN,NaN,NaN,114.0,Drama,English,Tiffany Edwards,Tiffany Edwards,NaN,NaN,NaN,2020
2,love_lies,"Love, Lies",43.0,NaN,NaN,NaN,120.0,Drama,Korean,"Park Heung-Sik,Heung-Sik Park","Ha Young-Joon,Jeon Yun-su,Song Hye-jin",NaN,NaN,NaN,Unknown
3,the_sore_losers_1997,Sore Losers,60.0,NaN,NaN,NaN,90.0,"Action, Mystery & thriller",English,John Michael McCarthy,John Michael McCarthy,NaN,NaN,NaN,2020
4,dinosaur_island_2002,Dinosaur Island,70.0,NaN,NaN,NaN,80.0,"Fantasy, Adventure, Animation",English,Will Meugniot,John Loy,NaN,NaN,NaN,2017

#### Checking movies with null values in title:

In [24]:
movies[movies['title'].isna()]

,id,title,audienceScore,tomatoMeter,rating,ratingContents,runtimeMinutes,genre,originalLanguage,director,writer,boxOffice,distributor,soundMix,release_year
871,silent_youth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
1126,mukkam-post-london,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
4038,vortex_2021,NaN,NaN,NaN,NaN,NaN,140.0,Drama,French (France),Gaspar No,Gaspar No,NaN,Utopia,NaN,2022
5048,the_imported_bridegroom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
7364,sands_of_the_desert,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135289,nordstrand,NaN,NaN,NaN,NaN,NaN,89.0,Drama,German,Florian Eichinger,Florian Eichinger,NaN,NaN,NaN,Unknown
136031,quarry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Greg Chwerchak,NaN,NaN,NaN,NaN,Unknown
136611,freda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
138876,taxi_ballad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
141264,farce_of_the_penguins,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown

In [25]:
movies['title'].isna().sum()

365

#### Filling null values in 'title' column based on 'id' column:

In [26]:
movies['id'].isna().sum()

0

In [27]:
movies['title'].fillna(movies['id'].str.replace('_', ' ').str.title(), inplace=True)

In [28]:
movies['title'].isna().sum()

0

In [29]:
movies['title'][7364]

'Sands Of The Desert'

In [30]:
print(movies.isnull().sum())

id                       0
title                    0
audienceScore        69424
tomatoMeter         108478
rating              128192
ratingContents      128192
runtimeMinutes       13715
genre                10999
originalLanguage     13748
director              4183
writer               52685
boxOffice           127436
distributor         119253
soundMix            126265
release_year             0
dtype: int64

#### Removing columns that are not very relevant and have many null values:

In [31]:
movies.columns

Index(['id', 'title', 'audienceScore', 'tomatoMeter', 'rating',
       'ratingContents', 'runtimeMinutes', 'genre', 'originalLanguage',
       'director', 'writer', 'boxOffice', 'distributor', 'soundMix',
       'release_year'],
      dtype='object')

In [32]:
movies.drop(['distributor', 'boxOffice', 'soundMix', 'ratingContents', 'rating'], axis=1, inplace=True)

In [33]:
movies.head()

,id,title,audienceScore,tomatoMeter,runtimeMinutes,genre,originalLanguage,director,writer,release_year
0,space-zombie-bingo,Space Zombie Bingo!,50.0,NaN,75.0,"Comedy, Horror, Sci-fi",English,George Ormrod,"George Ormrod,John Sabotta",2018
1,the_green_grass,The Green Grass,NaN,NaN,114.0,Drama,English,Tiffany Edwards,Tiffany Edwards,2020
2,love_lies,"Love, Lies",43.0,NaN,120.0,Drama,Korean,"Park Heung-Sik,Heung-Sik Park","Ha Young-Joon,Jeon Yun-su,Song Hye-jin",Unknown
3,the_sore_losers_1997,Sore Losers,60.0,NaN,90.0,"Action, Mystery & thriller",English,John Michael McCarthy,John Michael McCarthy,2020
4,dinosaur_island_2002,Dinosaur Island,70.0,NaN,80.0,"Fantasy, Adventure, Animation",English,Will Meugniot,John Loy,2017

#### Filling null values in audienceScore and tomatoMeter with the column average:

In [34]:
movies["audienceScore"].fillna(movies["audienceScore"].mean(), inplace=True)
movies["tomatoMeter"].fillna(movies["tomatoMeter"].mean(), inplace=True)

#### Filling null values in categorical columns with "Unknown":

In [35]:
movies["genre"].fillna("Unknown", inplace=True)

movies["originalLanguage"].fillna("Unknown", inplace=True)

movies["director"].fillna("Unknown", inplace=True)

movies["writer"].fillna("Unknown", inplace=True)


print(movies.isnull().sum())

movies.head()

id                      0
title                   0
audienceScore           0
tomatoMeter             0
runtimeMinutes      13715
genre                   0
originalLanguage        0
director                0
writer                  0
release_year            0
dtype: int64

,id,title,audienceScore,tomatoMeter,runtimeMinutes,genre,originalLanguage,director,writer,release_year
0,space-zombie-bingo,Space Zombie Bingo!,50.000000,65.764818,75.0,"Comedy, Horror, Sci-fi",English,George Ormrod,"George Ormrod,John Sabotta",2018
1,the_green_grass,The Green Grass,55.669356,65.764818,114.0,Drama,English,Tiffany Edwards,Tiffany Edwards,2020
2,love_lies,"Love, Lies",43.000000,65.764818,120.0,Drama,Korean,"Park Heung-Sik,Heung-Sik Park","Ha Young-Joon,Jeon Yun-su,Song Hye-jin",Unknown
3,the_sore_losers_1997,Sore Losers,60.000000,65.764818,90.0,"Action, Mystery & thriller",English,John Michael McCarthy,John Michael McCarthy,2020
4,dinosaur_island_2002,Dinosaur Island,70.000000,65.764818,80.0,"Fantasy, Adventure, Animation",English,Will Meugniot,John Loy,2017

#### Filling null movie lenghts with the median by genre. First, we need to split and explode genres into multiple rows:

In [36]:
movies["runtimeMinutes"].dtype

dtype('float64')

In [37]:
# Split genres by comma and explode into multiple rows
movies['genre'] = movies['genre'].str.split(', ')  
movies = movies.explode('genre').reset_index(drop=True)
movies.head()

,id,title,audienceScore,tomatoMeter,runtimeMinutes,genre,originalLanguage,director,writer,release_year
0,space-zombie-bingo,Space Zombie Bingo!,50.000000,65.764818,75.0,Comedy,English,George Ormrod,"George Ormrod,John Sabotta",2018
1,space-zombie-bingo,Space Zombie Bingo!,50.000000,65.764818,75.0,Horror,English,George Ormrod,"George Ormrod,John Sabotta",2018
2,space-zombie-bingo,Space Zombie Bingo!,50.000000,65.764818,75.0,Sci-fi,English,George Ormrod,"George Ormrod,John Sabotta",2018
3,the_green_grass,The Green Grass,55.669356,65.764818,114.0,Drama,English,Tiffany Edwards,Tiffany Edwards,2020
4,love_lies,"Love, Lies",43.000000,65.764818,120.0,Drama,Korean,"Park Heung-Sik,Heung-Sik Park","Ha Young-Joon,Jeon Yun-su,Song Hye-jin",Unknown

In [38]:
# Remember to group by id to do calculations, since there are now multiple lines, one for each genre

In [39]:
movies[movies['runtimeMinutes'].isna()]

,id,title,audienceScore,tomatoMeter,runtimeMinutes,genre,originalLanguage,director,writer,release_year
14,kakabakaba-ka-ba,Kakabakaba ka ba? (Will Your Heart Beat Faster?),88.000000,65.764818,NaN,Unknown,Unknown,Mike de Leon,Unknown,Unknown
47,alraune,Alraune (A Daughter of Destiny) (Mandrake) (Un...,57.000000,65.764818,NaN,Unknown,Unknown,Henrik Galeen,Unknown,Unknown
94,father_2018,Father (Hong He Zi),55.669356,65.764818,NaN,Unknown,Unknown,Li-chou Yang,Unknown,Unknown
97,steve-harvey-still-trippin,Steve Harvey: Still Trippin',64.000000,65.764818,NaN,Unknown,Unknown,Leslie Small,Unknown,Unknown
100,angel_guts_nami,Angel Guts Nami,55.669356,65.764818,NaN,Unknown,Unknown,Noboru Tanaka,Unknown,Unknown
...,...,...,...,...,...,...,...,...,...,...
213474,willoughby,Willoughby,55.669356,65.764818,NaN,Drama,English,"Herbert L. McGurk,Ruben Soto","Herbert L. McGurk,Ruben Soto",Unknown
213475,willoughby,Willoughby,55.669356,65.764818,NaN,Mystery & thriller,English,"Herbert L. McGurk,Ruben Soto","Herbert L. McGurk,Ruben Soto",Unknown
213484,night_of_the_living_bread,Night of the Living Bread,55.669356,65.764818,NaN,Comedy,English,Kevin S. O'Brien,Unknown,Unknown
213485,night_of_the_living_bread,Night of the Living Bread,55.669356,65.764818,NaN,Horror,English,Kevin S. O'Brien,Unknown,Unknown
213487,operation_goldenshell,Operation Goldenshell (Operacin Concha),55.669356,65.764818,NaN,Unknown,Unknown,Antonio Cuadri,Unknown,Unknown

In [40]:
# Calculate the median by genre
median_by_genre = movies.groupby("genre")["runtimeMinutes"].median()

# Create a temporary DataFrame to store the medians by title and genre
temp_df = movies.copy()
temp_df["genre_median"] = temp_df["genre"].map(median_by_genre)

# Fill the missing values with the corresponding medians
temp_df["runtimeMinutes"].fillna(temp_df["genre_median"], inplace=True)

# Update the original DataFrame
movies["runtimeMinutes"] = temp_df["runtimeMinutes"]

In [41]:
print(median_by_genre)

genre
Action                   96.0
Adventure                91.0
Animation                78.0
Anime                    95.0
Biography                96.0
Comedy                   93.0
Crime                    95.0
Documentary              84.0
Drama                    96.0
Entertainment            64.0
Faith & spirituality     83.0
Fantasy                  91.0
Foreign                  99.5
Gay & lesbian            82.0
Health & wellness        91.5
History                 106.0
Holiday                  90.0
Horror                   90.0
Kids & family            87.0
Lgbtq+                   93.0
Music                    92.0
Musical                  94.0
Mystery & thriller       93.0
Nature                   84.0
News                    153.0
Other                    86.0
Reality                  75.0
Romance                  97.0
Sci-fi                   91.0
Short                    14.5
Special interest         65.0
Sports                   95.0
Sports & fitness         92.0
Stand-up                 61.0
Unknown                  88.0
Variety                  60.0
War                      99.0
Western                  82.0
Name: runtimeMinutes, dtype: float64

In [42]:
movies[movies['runtimeMinutes'].isna()]

Empty DataFrame
Columns: [id, title, audienceScore, tomatoMeter, runtimeMinutes, genre, originalLanguage, director, writer, release_year]
Index: []

In [43]:
movies['runtimeMinutes'][213474]

96.0

In [44]:
# Group by and calculate the average runtime for each movie
average_runtime = movies.groupby("id")["runtimeMinutes"].transform("mean")
movies["runtimeMinutes"] = average_runtime

In [45]:
movies['runtimeMinutes'][213475]

94.5

In [46]:
movies.isnull().sum()

id                  0
title               0
audienceScore       0
tomatoMeter         0
runtimeMinutes      0
genre               0
originalLanguage    0
director            0
writer              0
release_year        0
dtype: int64

In [47]:
movies.head()

,id,title,audienceScore,tomatoMeter,runtimeMinutes,genre,originalLanguage,director,writer,release_year
0,space-zombie-bingo,Space Zombie Bingo!,50.000000,65.764818,75.0,Comedy,English,George Ormrod,"George Ormrod,John Sabotta",2018
1,space-zombie-bingo,Space Zombie Bingo!,50.000000,65.764818,75.0,Horror,English,George Ormrod,"George Ormrod,John Sabotta",2018
2,space-zombie-bingo,Space Zombie Bingo!,50.000000,65.764818,75.0,Sci-fi,English,George Ormrod,"George Ormrod,John Sabotta",2018
3,the_green_grass,The Green Grass,55.669356,65.764818,114.0,Drama,English,Tiffany Edwards,Tiffany Edwards,2020
4,love_lies,"Love, Lies",43.000000,65.764818,120.0,Drama,Korean,"Park Heung-Sik,Heung-Sik Park","Ha Young-Joon,Jeon Yun-su,Song Hye-jin",Unknown

In [48]:
movies.loc[movies['title'] == "How It Ends"]

,id,title,audienceScore,tomatoMeter,runtimeMinutes,genre,originalLanguage,director,writer,release_year
41264,how_it_ends_2021,How It Ends,42.0,68.0,82.0,Comedy,English,"Zoe Lister Jones,Daryl Wein","Daryl Wein,Zoe Lister Jones",2021
41265,how_it_ends_2021,How It Ends,42.0,68.0,82.0,Drama,English,"Zoe Lister Jones,Daryl Wein","Daryl Wein,Zoe Lister Jones",2021
148361,how_it_ends,How It Ends,17.0,17.0,113.0,Sci-fi,English,David M. Rosenthal,Brooks McLaren,2018
148362,how_it_ends,How It Ends,17.0,17.0,113.0,Mystery & thriller,English,David M. Rosenthal,Brooks McLaren,2018
148363,how_it_ends,How It Ends,17.0,17.0,113.0,Action,English,David M. Rosenthal,Brooks McLaren,2018
148364,how_it_ends,How It Ends,17.0,17.0,113.0,Adventure,English,David M. Rosenthal,Brooks McLaren,2018

### reviews

In [49]:
reviews.shape

(1432569, 11)

In [50]:
print(reviews.isnull().sum())

id                     0
reviewId               0
creationDate           0
criticName             0
isTopCritic            0
originalScore     431391
reviewState            0
publicatioName         0
reviewText         68694
scoreSentiment         0
reviewUrl         209139
dtype: int64

#### Dropping rows with null values in the review text, as the aim of the project is to analyze precisely this variable:

In [51]:
reviews[reviews['reviewText'].isnull()]

,id,reviewId,creationDate,criticName,isTopCritic,originalScore,reviewState,publicatioName,reviewText,scoreSentiment,reviewUrl
32,1005521-death_of_a_salesman,1422415,2005-08-04,Jules Brenner,False,4/5,fresh,Cinema Signals,NaN,POSITIVE,NaN
33,1005521-death_of_a_salesman,1409415,2005-07-05,Emanuel Levy,False,3/5,fresh,EmanuelLevy.Com,NaN,POSITIVE,NaN
36,1005521-death_of_a_salesman,751951,2002-08-08,Cory Cheney,False,4/5,fresh,Urban Tulsa Weekly,NaN,POSITIVE,NaN
37,1005521-death_of_a_salesman,743794,2002-07-26,Bob Grimm,False,5/5,fresh,Las Vegas Mercury,NaN,POSITIVE,NaN
39,10002797-sahara,1137710,2003-05-13,Dragan Antulov,False,5/10,fresh,rec.arts.movies.reviews,NaN,POSITIVE,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1429295,phantom_of_the_opera_1925,1195031,2003-09-05,Jovanka Vuckovic,False,5/5,fresh,Rue Morgue Magazine,NaN,POSITIVE,NaN
1429296,phantom_of_the_opera_1925,797719,2002-10-16,Christopher Smith,False,5/5,fresh,Bangor Daily News (Maine),NaN,POSITIVE,NaN
1429297,phantom_of_the_opera_1925,795347,2002-10-11,Jeffrey Westhoff,False,4/5,fresh,"Northwest Herald (Crystal Lake, IL)",NaN,POSITIVE,NaN
1429298,phantom_of_the_opera_1925,757371,2002-08-20,John J. Puccio,False,4/5,fresh,Movie Metropolis,NaN,POSITIVE,NaN
1430363,sex_and_the_city,2026391,2011-11-17,Joshua Rothkopf,True,4/5,fresh,Time Out,NaN,POSITIVE,NaN

In [52]:
reviews = reviews.dropna(subset=['reviewText'])

#### Dropping the 'reviewUrl' column because it is not relevant:

In [53]:
reviews.drop(['reviewUrl'], axis=1, inplace=True)

In [54]:
reviews.isnull().sum()

id                     0
reviewId               0
creationDate           0
criticName             0
isTopCritic            0
originalScore     431220
reviewState            0
publicatioName         0
reviewText             0
scoreSentiment         0
dtype: int64

#### Below, I checked the unique values in 'originalScore' to see if I could normalize then, but finally I decided to drop this column since the values are too diverse and it is not that relevant for the analysis.

In [55]:
import numpy as np

# NumPy setup tp show all values in the array
np.set_printoptions(threshold=np.inf)

# Check unique values in Original Score
data = np.array(reviews['originalScore'].unique())
print(data)

['3.5/4' '1/5' nan '2.5/5' '4/5' '7/10' '0.5/4' '3/10' '0/4' '1.5/5' 'B+'
 'C' '8.5/10' '3/5' '3/4' 'B' '9/10' '5/5' '4/4' '3.5/5' '2/5' '5.85/10'
 '1.5/4' '10/10' '2/4' '7.5/10' 'A' '2.5/4' 'B-' '8/10' '1/4' 'C+'
 '3.0/4.0' 'A-' '7.7/10' '7.5' '2.75' 'C-' '3' '4/10' 'F' 'D+' '4.5/5'
 '63/100' '2.5' '6/10' '8.9/10' 'C minus' '90/100' '5/10' '4.0/4.0' '2/10'
 '52/100' '8.01/10' '9.5/10' '5.2/10' '5.5/10' '4.0/5' '4/6' 'D' '6.5/10'
 'B plus' '2.5/5.0' '3.5/5.0' '76/100' '1/10' '0.5/5' 'D-' '3.5/10'
 '2.5/10' '.5/4' '0/10' '0/5' '18/20' '62/100' '3.5/4.0' '4.293382/10'
 '85/100' '87/100' '39/100' 'A+' '3/6' '65/100' '5.65/10' '78/100'
 '88/100' '50/100' '5.8/10' '4' '68/100' '74/100' '7.0/10' '3.5' '3.25/5'
 'FIVE STARS' '2.5/4.0' '2.3/5' 'Recommended' '3.0/5' 'A minus' '8'
 '6.25/10' '8.1/10' '8.0/10' '72/100' '81/100' '8.75/10' '7' '21/100'
 'short' '1.75/4' '2' 'F- - -' 'C -' '1.5 / 4' '2.2 / 5' '4.5/10' '1.5'
 '7.5/20' '12/20' '2.0/4.0' '1.5/4.0' '3 out 5' '9.2/10' '.5/5' '3.5 / 5'
 '64/100' '11/20' '6.0/10' '3.0/5.0' '38/100' '9.0/10' '2.75/5' '9.3/10'
 '93/100' '70/100' '4.5' '4.75/5' '9.9/10' '8.4/10' '1/6' '5.0/10'
 '1.75/5' 'B-plus' '67/100' '8.8/10' '71/100' '83/100'
 'high +2 out of -4..+4' '89/100' '6.9/10' '8.21/10' '3 / 5' '1' '5/20'
 '2 Ripples' '3.7/10' '86/100' '14/20' '6.7/10' '73/100' '7.2/10' 'B -'
 'C-plus' '16.5/20' '0 out of -4..+4' '5.75/10' '13/20' '2 / 5'
 'Low Half Price' '1.85/10' '9.174/10' '1.9/5' '18.5/20' '7.6/10' '48/100'
 '94/100' '4 / 5' '77/100' '2.0/5.0' '+1 out of -4..+4' '5.9/10' 'B minus'
 '1.0/4.0' '15/20' '2.25/5' '920' '2.0/5' '4.12/10' '7.8/10' '7.1/10'
 '8.6/10' '4.5/5.0' '5/5.0' "'3/4'" "'4/4'" '3.5 stars' '2.4/5' '33/100'
 '75/100' '6.8/10' "'2'" 'FOUR STARS' '91/100' '3.75/5'
 'Highly Recommended' '49/100' 'F-' '79/100' '2/6' '9/100' '77' '2.0'
 '4 of 5' '2.0/10' '3.2/5' '59/100' '58/100' '6' '***1/2' '82/100' '3.6/5'
 '6.5' '60/100' '5.1/10' '2.2/10' '4.9/10' '6.3/10' '***' 'B-minus'
 '7.3/10' '2.1/2' '2.50/5' '42/100' 'Catch It On Cable' '1.25/5' '4.0/10'
 '3.7/5' '80/100' '5.4/10' '17/20' 'low +2 out of -4..+4' "'2.5/4'"
 '13.20' '1.0/5' '3.8/5' '5' '9.8/10' '61/100' '2.5/3' '1.5/10' '6.2/10'
 '37/100' '1.5/5.0' '6.0000001/10' '16/20' '7.95/10' '20/20' '7.65/10'
 '8.65/10' '4.0/5.0' '2.7/10' '1.3/5' '3 stars' 'C plus' '5.4843853981/10'
 '69/100' 'low 0 out of -4..+4' '6.1492458/10' "'3.5/4'" '2.75/4'
 '7.21/10' '5.0/5' '7.25/10' '6/8' '66/100' '9.1/10' '16/100' '55/100'
 '2. 5 / 5' '35/100' '1.0/5.0' '2.25/4' '5.5642243/10' '2.0/4' '4.25/5'
 '4.7/10' '96/100' '1.6/5' '6.1/10' '4 stars' '6 out of 10' "'2/4'"
 '31/100' 'Fresh' '.96/10' '2 stars' '40/100' 'b' '3/100' 'D ' '3/5 '
 '12.5/20' 'c+' '7.15/10' '8.82438/10' '7.4/10' '1/1' 'b+' '3.25/4'
 '9.66/10' 'Big Screen Watch' '9.0' '19/20' 'C +' '3.619125458/10'
 '5.9821/10' '7.9/10' '5.5/20' 'A -' '84/100' '2.9/5' '10/20' '8.89/10'
 'Not Recommended' '4.8/10' '9.4/10' '8.3/10' '3.4/4' 'A+++' '3.8/4'
 '4/5 ' '53/100' '43/100' '3.8/10' '4.2/5' '3.3/5' 'b-' '8.7/10' '57/100'
 '5.0/5.0' '3 of 5' '7.83/10' '6.95/10' '4.5 / 5' '9.188/10' '2.3/10'
 '6.45/10' '7.5/ 10' '95/100' '8.2/10' '8.5' '10/100' 'B+ ' '4.6/10' '100'
 '9.002/10' '1-5 stars' '100/100' '56/100' '6.01/10' '6.4/10' '9.25/10'
 '5.751/10' '20/100' 'capsule' '8.25/10' '3.1/5' '3.2' '5.89431248/10'
 '4.21/10' '9/20' '9.42816572/10' '10' '54/100' '3.5/5 ' '9' '8.39421/10'
 '2.00' '4.8/5' '8.3/100' '5.3/10' '8.5 out of 10' '5/6' '1.5/2'
 '0 out of 10' '7.45/10' '2.84/10' '32/100' '0/0' '3.4/10' 'c' '4.22/10'
 '92/100' '3.044316/10' 'B +' '4.1842/10' '45/100' '7.92121/10' '8.55/10'
 '3.3/10' '8.95/10' '3./5' '2.1/2`' '2/5 ' '3.9/5' 'high +1 out of -4..+4'
 '6.75/10' '4.35/5' '5 of 5' '35/4' '1.5242228/10' "'1.5/4'" '3.9/10'
 'bomb' '4 out of 5 stars' '8.26/10' '5.6/10' '3.0/4' '47/100' 'C-minus'
 '2/2' '1.5.4' '2.7/5' '4.1/10' '4/5 stars' '3.4/5' "'3/5'"
 '5.002358336/10' 'A-minus' '4.25/10' '2/20' '2 of 5' '2.5 stars' '28/100'
 '5.27107238/10' '8.10/10' '8.8859923/10' '1.5 stars' '7.8721/10' '4.3/10'
 'low +3 out of -4..+4' '2.2/5' '2.6/5' '0.5/4.0' '6.5 out of 10' '-'
 '26/100' '2.5 of 5' '6.001/10' 'Half Price' '15.5/20' '8.352/10' '2/3'
 '51/100' '36/100' '4.21382343/10' '4.5.5' '9.082512343/10' '4.0/4' '6/5'
 'F---' '8.05/10' '3.6/10' 'ZERO STARS' '3.0' '1.0/4' '30/100' '7.85/10'
 '1 out of 5 stars' '.664363/10' '3.0/10' '3/0' '19/100' '4.1/5' '8.19/10'
 '34/100' '9.352969/10' "'1.'5" '3 out of 10' '0.8/5' '46/100' '9.15/10'
 '8.458/10' '0/6' '4.5 of 5' '5.95/10' '4.65/10' '4.2/10' '9.7/10'
 '9.874489/10' '4.0' '25/100' '6.78/10' '7 / 10' '17.5/20' "'1/4'"
 '6.6/10' '6.9 /10' '.5/4.0' '1.2/5' '2.8/10' '7.82745/10' '2.65/5' 'B ?'
 'F - - -' '35' '6/6' 'C?' '8.1842/10' '9.85/10' '0.5/5.0' 'a' '7.75/10'
 '1.8/5' '8.85/10' '3.75/5.0' '5/ 10' '6.85/10' '0.0/4.0' '1.4/4'
 '9.75/10' '10.50/20' '4 stars out of 5' '8 out of 10' "'2.75/5'"
 '7.89/10' '4.7/5' '8.8 out of 10' '8.6824/10' '2.8/5' '9.1' 'BOMB!'
 '8.73284/10' '3.00' 'B--' '1.7/5' '98/100' 'Bomb' '90%' '3 1/2 stars'
 'Strongly Not Recommended' '3.2/10' '1.0' '2.5 / 5' '7.96/10' '2.25' 'B '
 '44/100' '4.55/10' '2 1/2 stars' '2.54' '810' '0/4.0' '4.4/5' '9.21/10'
 "'1.5'" '1.2/4' '7.5 out of 10' '6.9921/10' '2.4' '2.1/5' '2.5/4 '
 '1/2 star' '4.85/10' '8.08434/10' '1 / 5' '0.0/5.0'
 'high 0 out of -4..+4' '6.89/10' '2.5/43' '6/ 10' '2.5.5' '8.42/10'
 '2.3/4' '7/8' '4.88/10' '5.25/10' '3.5 out of 5 stars' '3.5.4'
 'Low Big Screen Watch' '2.45/5' '6.5/20' 'Schmoed it up' '0.5' '8/20'
 'low +1 out of -4..+4' '8.70/10' 'Sid Smith' '2:4' 'A=' '3 1/2/4'
 '5.7/10' '7.934821174/10' '4.55' '5 stars' '6.02/10' '70' '8.96/10' '1.9'
 'a-' '2 out of 5' '3.50/5' '8/ 10' '0' '7.01/10' '7.7' '5.80/10'
 '6.19/10' '3.1/10' '5.5/5' '3/ 5' '2.282303/10' '4.3283177239/10'
 '8.5/20' '8.901/10' '14.5/20' '3.1439814/10' '8.15/10' '1-5' '5.21/10'
 '1.1/5' '7.53/10' '4.4/10' '7.212121/10' '2.5 / 4' '5.45/10' '9.87/10'
 '4.5/ 5' '9.48/10' '9.38/10' '7.4' '2.83/5' 'G.O.A.T' '8/11' '6.97/10'
 '5.8' '8.84723/10' '6.1121/10' '*' '7/ 10' '8.32/10' '7./10' '7.61/10'
 '41/100' "'2/5'" '3.5.5' "'2.5'" '4.2/5.0' '7 out of 10' '2.4/4'
 '8.7601/10' '8.1921/10' '1/3' '2.1/10' '60100' '4.58/5' '7/20' '4.76/5'
 '5.23/10' '3.75/10' '9.145/10' '6.84/10' '6.0001/10' 'A?' '0.5/10'
 '3.75/4' '8.46/10' '9.45/10' '7/10 ' '6/7' '13.5/20' '7.0 out of 10'
 '4/8' '8.72/10' '4.42/10' '9.88/10' '9.6/10' '6.127422/10'
 '9.02266648/10' '8.18/10' '5/11' '-1 out of -4..+4' 'F (but also an A)'
 '4.2112/10' '4 Ripples' '2 1/2' '.66/10' '*****' '5.5' '4.8' '1.5.5'
 '.7765823/10' '5.4282345/10' '4.7' '3.5 /4' '2.4/10' '99/100' '5 /5'
 '1.25/10' '0.7/5' '9.28134/10' '8.57/10' '3.66649187143/10' '7/0'
 '9.05/10' '9.2021/10' '9.24/10' '4.51/10' '24/100' '+3 out of -4..+4'
 '6.265/10' '5.22/10' '4.75/10' '2.85/5' '8.33268/10' '3 Ripples'
 'A  minus' '2.5 out of 10' '4.52/10' '8.35/10' '7.218/10' '8.45/10' '3.4'
 '7.88/10' '0.0/5' '5.77/10' '.5' '3.853459582/10' 'D -' '.05/5'
 '2.5 out of 5' '5.895128/10' '3-4' '9.649821/10' 'Overripe' '1.4' '8.6'
 '****' '9.1221/10' '6.000001/10' 'D plus' '9.12/10' '8.88/10' '8.61/10'
 '1.4/5' '9.210423/10' '.5/10' '7.5/5' '8.3' '9.65/10' '8.7 out of 10'
 '3.6/4' '4.95216/10' '9.1434/10' 'B=' '**1/2' 'F+' '8.67/10' '7.495/10'
 '8.8854015291/10' '7.4921/10' '2/9' 'ONE STAR' '4.84458/10' '3of 5'
 '4.3/5' '3 / 4' '6.0' '15/100' '8.5834825061/10' '1.5 / 5' '2.9/10'
 '7.76/10' '8.0' 'C ' '5.148263489/10' '5.76/10' '6.65/10' '4.84267666/10'
 '15' "'.5'" '5.76' '6.98/10' '0/1000' '2./4' '**' '47/50' '7 our of 10'
 '9/19' '9.26/10' '8.849/10' "'3'" '8.1' '3.5/ 5' 'B-+' '0.3/5'
 '10000001/3' '2/4/' "'2.5/5'" '+2 out of -4..+4' '3/5/5' '0.02/5'
 '8.64/10' '7.2888/10' '7.2621/10' '7.0' '6.718321/10' '3 1/2' '0.25/5'
 '4/11' '3.5/44' '8.775/10' 'AWFUL!!!' '2.5/6' '29/100' '8.82949/10'
 '0.75/5' '5.81/10' '3/3' '97/100' '5.0' "'3.5/5'" '8.10' '4/3.5'
 '9.5 out of 10' '8.8675/10' '9.012518/10' '8.1248/10' '7.18321/10' '9.5'
 '7.912492/10' "'4'" '5.83719469/10' '7.42/10' 'A ' '9.95/10' '8.474858'
 '8.53899/10' '4.242949771/10' '4 stars ' '2.6/6' '8.0482862469/10'
 '8.5 / 10' '3.5/6' '8.5/ 10' '4.2' '8.3421/10' '27/100' '2.5/' '5/100'
 '1 of 5' '2 out of 10' '9 out of 10' 'low -1 out of -4..+4' '5.78/10'
 '5 / 5' '8.76/10' '3.515/10' '8.89429/10' '16.50/20' '4.521/10' '3/20'
 '8.458432/10' '3./4' '11.5/20' '0/3' '7.20/10' '8.56/10' '10/ 10' '2.255'
 '3.8' 'C  minus' 'Olivia Wilde loses the makeup that made her the fa'
 '7/1' '4 1/2/5' '8.12/10' '5.5313/10' '2/ 5' 'Matinee' '4/3'
 '9.45952841/10' 'low 1 out of -4..+4'
 '2.5/5Too tepid and too predictable of a picture to' '4 out of 10'
 '9.01/10' '3.7/4' '9.14258/10' '1.35/5' '1.21/10' '6.15/10' '8.8943/10'
 'c-' '7/5' '6.24/10' '3 out of 5 air tanks' '3.7521/10' '7/11' '23/100'
 '3/.5' '2.3/5.0' '9.56/10' '2/4 ' '45' 'THREE STARS' '1.5/3' '4/ 10'
 '6.9' '2.6/10' '6.8 out of 10' '2./5' 'D minus' '1.25/4' '9.89/10' 'zb'
 '4.4124/10' '3.14/5' '3.5 / 4' '89' '10 out of 10' '3.665/10'
 '6.00822/10' '2/5/4' '9.35/10' '4.5432/10' '-2 out of -4..+4' '1/8/5'
 '5.49/10' '5 out of 10' '7.0001/10' '4/20' 'c -' '4.143641/10' '0.23/5'
 '9.14290954/10' '4.9834326/10' '3/5 stars' 'TWO STARS' '76/10'
 '5.1921/10' '8.5/5' '3.75' '8.212121/10' '6.10' '20 / 20'
 'high -1 out of -4..+4' '9.0834524/10' '7.95521/10' '5.48/10'
 'Recomended' 'C=' '4.224/10' 'non-numerical' '3.3/4' '8.92/10' '2.57/10'
 '3/5.5' '5.10/10' '9.228294/10' '4.5/4' '4.25425345388/10' '3.76/10'
 '5.57/10' '5.383164903/10' '6.09/10' '7.5.10' 'B_' '5.72/10' 'B?'
 '0 to 4' '3/35' '5.78438/10' '4 1/2 stars' '3.45/5' '5.8943/10' '7.5/100'
 '1/4ANNAPOL' '8.6 out of 10' '6.00000420/10' '4/55' '7.49/10' 'A-plus'
 '5/4' '3.21/10' '1.1/10' '2.55/4' '4.2542157857/10' '3.25/10' '7.2521/10'
 '0 stars' '6.000009' '910' '7.9447/10' '3.20/10' '.82/10' '25' 'B'
 '9.10' '6.0001' "3 outta 5  ain't great" '5.91/10' '8.68/10' '8.50/10'
 '6/13' '5.1221/10' '2.5.4' '5.872/10' '5 / 20' '6.985/10' '14/10'
 '8.99/10' '8.71/10' '4.751/10' '3/4.' '77/10' '3.222423/10' '9.889/10'
 '7.2234238/10' '4./5' '7.5/10 ' '7.9513/10' '9.73889/10' '22/100' '4.6/5'
 '5/8' '3.35/5' '7.653138/10' 'C-+' '9.5/20' 'out of 4' '3.82379/10'
 '6.66/10' '4.9/5.0' '3 of 4' '3 out of 5' '6.5/10 ' '10 of 10'
 '5.9332482/10' '8.701419/10' '8.248120421/10' '4/ 5' '3.65/5' '8.251/10'
 '6.7/8' 'B-/C+' '85/10' '5.224953/10' '1.8/4' '4.25' '9.023814/10'
 'Cplus' '17/100' '6.827521/10' '6.00001/10' '8.91/10' '8.9834732/10' '60'
 '2.0/3.0' '4/100' '9.2' '8.453895/10' '9 / 10' '5.28941986/10'
 '9.043258/10' '8.455439/10' "7/1'" '5.904425/10' '5.15835338845/10'
 '3.15/5' '7.8 out of 10' '6.181349/10' '4.8319/10' '6.6' '9/9' '7.78/10'
 '6.58366256621/10' '8.765/10' 'Aminus' '0 out of 4..+4' '1/4 stars'
 '8.9621/10' '8/100' '8.16674329/10' '8.182142/10' '5.431987/10' '80'
 '2/5.4' '4.6/5.0' '4.827/10' '3.5/' '2.75/5.0' '7.8642466/10' '5.05/10'
 '8.74/10' '6.05/10' '3.65/10' 'A m inus' '.75/10' '5.0214718824/10'
 '8.124/10' '5.4821/10' '9.19/10' '9.20/10' '5.67/10' '6.9621/10'
 'high +3 out of -4..+4' '5.0666/10' 'C+_' '7.9434/10' '3.55/10' '95/95'
 '5.3' '9.18463/10' '25/4' 'Read A Book' '5.8642/10' 'a minus' '8.3721/10'
 '7.85321/10' '6.7833' '3.7/5.0' '5.17' '4.15/10' '5.62139/10'
 '8.13814/10' '5.86/10' "2'/4" '4/2.5' '7.8661/10' '4 / 10' '.5/ 5'
 '1.71384923/10' '5.5 out of 10' '9.51/10' '9/ 10' '7.89' '2.5/5 ' '69/70'
 '4/5.5' '7.55/10' '7/100' '3.5/5.5' '3.5/20' '7.05/10' '4.124/10' '46'
 '4 out of 5' '3.4/4.0' '2.89/5' '8.063/10' '9.16/10' 'Turkey!' '2.7/5.0'
 '.2/5' '8/5' 'n' '1.4/10' 'RECOMMENDED' '8.621/10' '17.50/20' '7.3821/10'
 '7.21' '8.62/10' '45/5' '4.5/5 ' '4.45/10' '5.56/10' '83.10'
 '3.1122428/10' '8.4' '3.7 / 5' '7.87/10' '1.9528/10' '1.5/' '3.2592/10'
 '5.6' '7.3856/10' '5.01/10' '4.4' '8.994523587/10' '3.45/10' '5.82/10'
 '+' '3.5 out of 5' '3.5/58' '6.875/10' '6.12' '9.52/10' '5.88/10'
 '4.2164821' '7.621/10' 'matinee' '6.35/10' '2/4 stars' '8.16/10'
 '8.20/10' '4.89/10' "'2.4'" 'C--' '6.22/10' '4.70/10' 'B- ' '1.5/ 5'
 '6.26/10' '2 / 4' '9.62/10' '7.21342/10' '9.00423/10' '4 / 4' '* 1/2'
 '4\\5' '1-5 Stars' '5.6642/10' '5.842/10' 'd' '.25/4' '8.585/10' '4.33/5'
 '6.578/10' '3.76/5' '14' '21/2 pink ponies out of five'
 '3 out of 4 Ripples' '7.98/10' '0 / 5' '6/20' '9.46/10' '4.79/10'
 '4.35/10' '9.18/10' '3 out of 4' '9.1421/10' '8.98/10' '4.95/10'
 '9.865/10' '3.54' '22/5' '2/8' '+4 out of -4..+4' '9/5' '3.5/3' '6.96/10'
 '8.8' 'A--' '7.66' '9.67/10' '5.35/10' '9.04282/10' '9.74/10' '6.2428/10'
 "'3.75/5'" '4.8521/10' '90' '6.2623/10' '3.33/5' '4.5222/10' 'GOAT'
 '5.02120621/10' '8.883/10' '4.86/10' '5.8921/10' '8.2521/10' '4 /10'
 '75%' '8.7328/10' '1.82/10' '4.64372/10' 'Rental' '9.30/10' '7.36/10'
 '7.35/10' '8.496/10' '7.284163244/10' '4.211/10' '5.2' '5.0942942/10'
 '3. 5/5' 'r' '1/2/5' '-1/4' '2.5 Ripples' '4.0001/10' '7.22/10' 'A- '
 '4.00' '3.5/8' 'A +' '5.12/10' '5.70/10' '4.81/10' '6.35832/10' '7.44/10'
 '8.425/10' '6.55/10' '4.021/10' '8.942/10' '8.735/10' '5.15/10' '8.24/10'
 '****1/2' '9.4 out of 10' '9.49/10' '7.02/10' '4.2666102817/10'
 '5.8311/10' '3.83412437/10' '3.6' '3/4 stars' '8.451982/10' '8.71682/10'
 '5.7831268/10' '6.765/10' '5.13489' '5.4' '5.1' '.01/5' '5.9' '9.021/10'
 '3.5 ' '3.5?4' '3.5/51' '87/10' '50/50' '8.921/10' '5/5 stars' '12/100'
 '5.004232498245/10' '3.2121/10' '3/4f' '5.046/10' '8.91428/10' "'3.25/5'"
 '75' '2.75/10' '7.0921/10' '3.5 out of 10' '0.6/10' '1.5/4 ' '8.44/10'
 '5.10' '9.14/10' '7.1' '6.95921/10' 'High Rental' '5.24/10' '2.6/4'
 '9.68/10' '2\\5' '8.7472/10' '1.5/6' '3.85/10' 'A-+' '2.95/5' '3.0782/10'
 '1.5 of 4' '3.65' '2.5/ 5' '68' '[mixed]' '5.4221/10' '0.58/1' "'2.25/5'"
 '3.724592250/10' '3.5 of 4'
 '4/5http://www.bbc.co.uk/films/2007/08/27/a_throw_o' '9.184216/10'
 '0 out of 5' '3/ 10' '4.05524/10' 'C- ' '1\\5' '88' '3/4 ' '61/00'
 '8.9852281/10' '8.0342/10' '6.84215/10' '6 /10 ' '7.57/10' '6.88'
 '6.68/10' '2.95/10' '7.3 out of 10' '6.8' 'w.5/4' "3'4" 'two stars' 'D +'
 '9.50/20' '1.4/4.0' ' 3/5' '9.08545/10' '55' 'B/B-' '18/100' '6.00241/10'
 '0.59/1' '3,5.5' '2.5/5 stars' '4.834912391/10' '.05/4' '5.89521/10'
 '6.7843295/10' "'3.5/4" '9.121/10' '7.5211/10' '3.452433/10' '6.8666/10'
 '1.2/10' '8.77/10' '0.13/5' '7.3' '5/10-' '8.60345/10' 'Bi' '2.65/10'
 '6.7' '7.94/10' '7.14/10' '8.865/10' '5.522249/10' '9.78/10' '8.327/10'
 '8.21' '8.9521/10' '9.8521/10' '8.84/10' '79/80' '7.79/10'
 'Better Than Sex' '2.20282652/10' '8.034/10' '-1/10' '6.16/10'
 '9.0422/10' '2.5/50' '2/4The best that can be said about the movie is th'
 '2.8/4' 'A min us' "'1'" '5.3434382' '8.4238/10' '48' '5.4 out of 10'
 '1/5/4' '8.92942/10' '6.75' '4.5 out of 5' '4.429666/10' '2.5 of 4'
 '5/53' '3.55/5' '8.74923/10' '4.558/10' '3 1/2  out of 4' '4.4/5.0'
 'Muy Buena' '67/10' '6.4821/10' '3.99/10' '4.423886' '8.4527/10'
 '8.692121/10' '6.3' '2.75/3' '8.222' '9.510' '9.5/5' '8.9' '8.75'
 '8.937432/10' '3/5.4' '3/5/4' '4.364221/10' '0.0/4' '6.00024/10'
 '0.5/5.5' '5.22348810429/10' '4.45/5' 'f' '9.85621/10' '14.50/20'
 '9.014748/10' '8/8' '1/2' '5.50/10' '14/100' '.1/5' '1.8/10' '1.1/2'
 '4/5ao' '5.5542/10' '9.001/10' '4.48/10' '7.56' '8.764282983/10' '72'
 '67' '1 /10' '3.5/4A' '9.2632658/10' '7.0155/10' '.65/10' '7.07/10' '50'
 'No Grade' '9.14841666/10' '2.5./4' '7.021/10' '9.86/10' '9.89' '3.5/18'
 '1/54' '0.81/1' '2.892521821/10' ' 6.5 out of 10' '4.6939254271923/10'
 "2.5/'5" '7.0681328/10' '15.99/20' '6.44/10' '7.68/10' '7 out of 10``'
 '2.2/4' '5.73891/10' '4.5 out of 10'
 "BIt's still fun, but you feel more like you're wat" '4.93823/10'
 '7.696/10' '7.24/10' '0.2/5' '0/100' '8.5788222/10' '4.832714/10'
 '.666/4' '7.849201/10' '3.332/10' '3.0/.0' '7.001/10' '6 / 10' '93'
 '75/10' '8.899327/10' '66/70' '4.5/6' '8.88642156/10' '4.9837/10'
 '7.94215/10' '7.48/10' '3  of 5' '5.6521/10' '3/ 4' '3.7822391/10' '7.8'
 '0.52/1' '3.64/10' '7\\10' '8.584234/10' '9.24234825/10' '5.781348/10'
 '2 stars out of 5' 'void' '4.00484/10' 'd-' '7.04/10' "'0.5/4'" '3.0/40'
 '8.666/10' 'B+`' '4.95/5' '24' '1.75/10' '4.424929598598/10' '8.385/10'
 '8.22/10' '???' '4.5 out of 5.' '5.9737991/10' '7.62121/10'
 '6.0066642/10' '5.895/10' '4/5w' '3.5 of 5' '3.3/5.0' '21/2/4' '2.7/4'
 '13/100' '5.44/10' '4.83/5' '8.566669/10' '8.225/10' '3.5./4' '10/90'
 '4.987' '1.62/5' '2/' '2.212521/10' 'D?' '4.65/5' '7.111113314/10'
 '73/10' '1.24/5' '9.33/10' '3.56339/10' '7.825/10' '2.8423181/10'
 '8.127899/10' '2.74/10' '.75/5' '6.000003231/10' '95' ' C' '5.55/10'
 '8.9141743/10' '8.2621/10' '1 star' '9.79/10' '8.84259/10' '6.66/20'
 '4.56/10' '6.28253531/10' '9.76/10' '5.420420' '6,5.10' '9.99/10'
 '8.9941/10' '4/0' '4.90/10' '1.52/4' '5.623498/10' '8.48/10' '8.87/10'
 '5.9 out of 10' '.21/10' '3/45' '8.8459454578/10' '5.623234/10' '0.13/1'
 'Bplus' '80%' ' B-' '.5 stars' '4.85/5' '3.5.4.0' '12.50/20' '2/100'
 '9.11/10' '9.76' '8.45842/10' '8.485/10' '9.0024/10' 'C ?' '7.24239/10'
 '8.999/10' '8.35482376/10' '8.2121/10' '3.5/3.0' '4.75' '1.88/10'
 '9.921/10' '4 1/2 out of 5 stars' '1 stars' '1.9/10' '3 ' '5.61/10' '510'
 '1.5/.5' '8.91822/10' '5.9999/10' '35./4' '8.276/10' '0.1/5' '9.851/10'
 '8.32321/10' '39/40' '0.5 / 5' '0.4/5' '8.30/10' '7.696969/10' '4.983/10'
 '1,5' '.4/5' 'C++' '8.199/10' '5.51/10' '4..5/5' '0.8/10' '2.97/10' '4.1'
 '3.021/10' '7.10/10' '0.6/1' '6.5/ 10' '9.552/10' '4/7' '5.28724/10'
 '4.873326/10' '4.04224/10' '2.12/5' '3.9/4' '0.9/10' '2.5/20' '-10'
 '5.2666/10' '2.11/5' '3.86274/10' '4.031284932/10' '.25/5'
 '8.369696969/10' '8.5/8.5' '7.2' '6.8843/10' '.7221/10' '5.284849/10'
 '9.98/10' '7.2121/10' '7.00122/10' '9.2429/10' '8.843495459/10'
 '8.881/10' '9.6421/10' '8.71245284/10' '8.8859524031/10' '5.8 out of 10'
 '7.44224848/10']

In [56]:
reviews.drop(['originalScore'], axis=1, inplace=True)

In [57]:
reviews.isnull().sum()

id                0
reviewId          0
creationDate      0
criticName        0
isTopCritic       0
reviewState       0
publicatioName    0
reviewText        0
scoreSentiment    0
dtype: int64

In [58]:
reviews.head()

,id,reviewId,creationDate,criticName,isTopCritic,reviewState,publicatioName,reviewText,scoreSentiment
0,beavers,1145982,2003-05-23,Ivan M. Lincoln,False,fresh,Deseret News (Salt Lake City),Timed to be just long enough for most youngste...,POSITIVE
1,blood_mask,1636744,2007-06-02,The Foywonder,False,rotten,Dread Central,It doesn't matter if a movie costs 300 million...,NEGATIVE
2,city_hunter_shinjuku_private_eyes,2590987,2019-05-28,Reuben Baron,False,fresh,CBR,The choreography is so precise and lifelike at...,POSITIVE
3,city_hunter_shinjuku_private_eyes,2558908,2019-02-14,Matt Schley,False,rotten,Japan Times,The film's out-of-touch attempts at humor may ...,NEGATIVE
4,dangerous_men_2015,2504681,2018-08-29,Pat Padua,False,fresh,DCist,Its clumsy determination is endearing and some...,POSITIVE

## Adding 'title' column to the reviews df

#### Create df with unique movies (without duplicates) to then merge it with reviews:

In [59]:
unique_movies = movies.drop_duplicates(subset='id')
reviews = reviews.merge(unique_movies[['id', 'title']], on='id', how='left')

#### Reorder columns so that 'title' is next to 'id':

In [60]:
cols = reviews.columns.tolist()  
cols.insert(cols.index('id') + 1, cols.pop(cols.index('title'))) 
reviews = reviews[cols]

In [61]:
reviews.shape

(1363875, 10)

In [62]:
reviews.head()

,id,title,reviewId,creationDate,criticName,isTopCritic,reviewState,publicatioName,reviewText,scoreSentiment
0,beavers,Beavers,1145982,2003-05-23,Ivan M. Lincoln,False,fresh,Deseret News (Salt Lake City),Timed to be just long enough for most youngste...,POSITIVE
1,blood_mask,Blood Mask,1636744,2007-06-02,The Foywonder,False,rotten,Dread Central,It doesn't matter if a movie costs 300 million...,NEGATIVE
2,city_hunter_shinjuku_private_eyes,City Hunter: Shinjuku Private Eyes,2590987,2019-05-28,Reuben Baron,False,fresh,CBR,The choreography is so precise and lifelike at...,POSITIVE
3,city_hunter_shinjuku_private_eyes,City Hunter: Shinjuku Private Eyes,2558908,2019-02-14,Matt Schley,False,rotten,Japan Times,The film's out-of-touch attempts at humor may ...,NEGATIVE
4,dangerous_men_2015,Dangerous Men,2504681,2018-08-29,Pat Padua,False,fresh,DCist,Its clumsy determination is endearing and some...,POSITIVE

In [63]:
print(reviews.isnull().sum())

id                  0
title             296
reviewId            0
creationDate        0
criticName          0
isTopCritic         0
reviewState         0
publicatioName      0
reviewText          0
scoreSentiment      0
dtype: int64

#### Checking null values that appeared in the 'title' column after the merge (and finally removing them):

In [64]:
x = reviews[reviews['title'].isna()]

In [65]:
x

,id,title,reviewId,creationDate,criticName,isTopCritic,reviewState,publicatioName,reviewText,scoreSentiment
951525,0814255,NaN,102744359,2022-10-19,Rene Jordan,False,fresh,El Nuevo Herald (Miami),The Lightning Thief is good juvenile entertain...,POSITIVE
951526,0814255,NaN,2746517,2020-11-30,Mike Massie,False,rotten,Gone With The Twins,"For every creative aspect, there is a contrive...",NEGATIVE
951527,0814255,NaN,2726666,2020-09-19,Richard Propes,False,rotten,TheIndependentCritic.com,There's nothing resembling a spark in this fil...,NEGATIVE
951528,0814255,NaN,2699162,2020-06-26,Leigh Paatsch,False,rotten,Herald Sun (Australia),"OK, but only just.",NEGATIVE
951529,0814255,NaN,2662754,2020-01-23,Felicia Feaster,False,fresh,Charleston City Paper,The Lightning Thief is an admirable kid's fant...,POSITIVE
...,...,...,...,...,...,...,...,...,...,...
1272351,fight_church,NaN,2223967,2014-09-19,Bill Gibron,False,fresh,EntertainmentTell,... the faces behind the faith-based fisticuff...,POSITIVE
1272352,fight_church,NaN,2222948,2014-09-15,Dan Schindel,False,fresh,Nonfics,Fight Church is an interesting look at Christi...,POSITIVE
1272353,fight_church,NaN,2222947,2014-09-15,Kevin Jagernauth,False,fresh,The Playlist,"Storkel and Junge largely get it right, taking...",POSITIVE
1272354,fight_church,NaN,2222945,2014-09-15,Mark Bell,False,fresh,Film Threat,A surprisingly nuanced and intriguing study of...,POSITIVE
1272355,fight_church,NaN,2222944,2014-09-15,John DeFore,True,fresh,Hollywood Reporter,Unlike the recent release American Jesus... th...,POSITIVE

In [66]:
x['id'].unique()

array(['0814255', '0878835', 'fight_church'], dtype=object)

In [67]:
x[x['id'] == '0814255']

,id,title,reviewId,creationDate,criticName,isTopCritic,reviewState,publicatioName,reviewText,scoreSentiment
951525,0814255,NaN,102744359,2022-10-19,Rene Jordan,False,fresh,El Nuevo Herald (Miami),The Lightning Thief is good juvenile entertain...,POSITIVE
951526,0814255,NaN,2746517,2020-11-30,Mike Massie,False,rotten,Gone With The Twins,"For every creative aspect, there is a contrive...",NEGATIVE
951527,0814255,NaN,2726666,2020-09-19,Richard Propes,False,rotten,TheIndependentCritic.com,There's nothing resembling a spark in this fil...,NEGATIVE
951528,0814255,NaN,2699162,2020-06-26,Leigh Paatsch,False,rotten,Herald Sun (Australia),"OK, but only just.",NEGATIVE
951529,0814255,NaN,2662754,2020-01-23,Felicia Feaster,False,fresh,Charleston City Paper,The Lightning Thief is an admirable kid's fant...,POSITIVE
...,...,...,...,...,...,...,...,...,...,...
951668,0814255,NaN,1870212,2010-02-10,Roger Moore,True,rotten,Orlando Sentinel,"For what it is and for whom it is intended, it...",NEGATIVE
951669,0814255,NaN,1870187,2010-02-10,David Jenkins,True,rotten,Time Out,Chris Columbus returns to his comfort zone for...,NEGATIVE
951670,0814255,NaN,1870158,2010-02-09,Ben McEachen,False,fresh,Sunday Mail (Australia),Whether audiences will get behind The Lightnin...,POSITIVE
951671,0814255,NaN,1869889,2010-02-06,Andrew L. Urban,False,fresh,Urban Cinefile,A fantasy adventure that fuses Greek mythology...,POSITIVE
951672,0814255,NaN,1869888,2010-02-06,Louise Keller,False,fresh,Urban Cinefile,"Uma Thurman as Medusa, the gorgon with a coiff...",POSITIVE

In [68]:
movies[movies['id'] == '0814255']

Empty DataFrame
Columns: [id, title, audienceScore, tomatoMeter, runtimeMinutes, genre, originalLanguage, director, writer, release_year]
Index: []

In [69]:
reviews = reviews.dropna(subset=['title'])

In [70]:
reviews.isnull().sum()

id                0
title             0
reviewId          0
creationDate      0
criticName        0
isTopCritic       0
reviewState       0
publicatioName    0
reviewText        0
scoreSentiment    0
dtype: int64

## Checking movies with no reviews and removing then from the movies df

In [71]:
num_unique_titles = reviews["title"].nunique()
num_unique_titles

62199

In [72]:
num_unique_titles2 = movies["title"].nunique()
num_unique_titles2

126752

#### Filtering movies df to keep only the ones with reviews:

In [73]:
movies_with_reviews = reviews["id"].unique()

filtered_movies = movies[movies["id"].isin(movies_with_reviews)]

filtered_movies

,id,title,audienceScore,tomatoMeter,runtimeMinutes,genre,originalLanguage,director,writer,release_year
4,love_lies,"Love, Lies",43.000000,65.764818,120.0,Drama,Korean,"Park Heung-Sik,Heung-Sik Park","Ha Young-Joon,Jeon Yun-su,Song Hye-jin",Unknown
10,adrift_2018,Adrift,65.000000,69.000000,120.0,Adventure,English,Baltasar Kormkur,"Aaron Kandell,Jordan Kandell,David Branson Smith",2018
11,adrift_2018,Adrift,65.000000,69.000000,120.0,Drama,English,Baltasar Kormkur,"Aaron Kandell,Jordan Kandell,David Branson Smith",2018
12,adrift_2018,Adrift,65.000000,69.000000,120.0,Romance,English,Baltasar Kormkur,"Aaron Kandell,Jordan Kandell,David Branson Smith",2018
16,1035316-born_to_kill,Born to Kill,74.000000,83.000000,92.0,Crime,English,Robert Wise,"Eve Greene,Richard Macaulay",1947
...,...,...,...,...,...,...,...,...,...,...
213491,fun_size,Fun Size,47.000000,25.000000,86.0,Holiday,English,Josh Schwartz,Max Werner,2012
213492,fun_size,Fun Size,47.000000,25.000000,86.0,Comedy,English,Josh Schwartz,Max Werner,2012
213494,dassehra,Dassehra,55.669356,65.764818,131.0,Action,Hindi,Manish Vatsalya,Saurabh Choudhary,2019
213495,dassehra,Dassehra,55.669356,65.764818,131.0,Mystery & thriller,Hindi,Manish Vatsalya,Saurabh Choudhary,2019
213500,the-human-body,The Human Body,71.000000,89.000000,43.0,Documentary,English,Peter Georgi,Richard Dale,Unknown

In [74]:
filtered_movies["title"].nunique()

62199

In [75]:
filtered_movies["id"].nunique()

67604

In [76]:
filtered_movies.shape

(105660, 10)

In [77]:
movies = filtered_movies

In [78]:
movies["title"].nunique()

62199

## Checking unique values in every column to see if they need normalization

### movies

In [79]:
movies.columns

Index(['id', 'title', 'audienceScore', 'tomatoMeter', 'runtimeMinutes',
       'genre', 'originalLanguage', 'director', 'writer', 'release_year'],
      dtype='object')

#### Original Language:

In [80]:
movies['originalLanguage'].unique()

array(['Korean', 'English', 'Hindi', 'Unknown', 'Japanese', 'Spanish',
       'English (United Kingdom)', 'Afrikaans', 'Italian', 'Tagalog',
       'French (France)', 'Dutch', 'Swedish', 'Spanish (Spain)', 'German',
       'Arabic', 'Vietnamese', 'English (Australia)', 'Tamil',
       'Bulgarian', 'French (Canada)', 'Bangla', 'Portuguese (Brazil)',
       'Czech', 'French', 'Telugu', 'Hebrew', 'Navajo', 'Malayalam',
       'Urdu', 'Ukrainian', 'Russian', 'Icelandic', 'Chinese', 'Serbian',
       'Malay', 'Polish', 'Persian', 'Portuguese', 'Hungarian', 'Latin',
       'Filipino', 'Danish', 'Greek', 'Turkish', 'Hmong',
       'Unknown language', 'Finnish', 'Thai', 'Norwegian', 'Croatian',
       'Bosnian', 'Amharic', 'Inuktitut', 'Marathi', 'Punjabi',
       'Estonian', 'Georgian', 'Macedonian', 'Swahili', 'Yiddish',
       'Dzongkha', 'Scottish Gaelic', 'Romany', 'Romanian', 'Bambara',
       'Kannada', 'Albanian', 'Indonesian', 'Tibetan', 'Slovak', 'Khmer',
       'Kyrgyz', 'Pashto', 'Slovenian', 'Lithuanian', 'Latvian',
       'Sinhala', 'Welsh', 'Zulu', 'Azerbaijani', 'Luxembourgish',
       'Maori', 'Catalan', 'Kurdish', 'Nepali', 'Somali', 'Gujarati',
       'Armenian', 'Faroese', 'Mongolian', 'Irish', 'Wolof', 'Maltese',
       'Basque', 'Lingala', 'Lao', 'Galician', 'nah', 'Cree', 'Samoan',
       'Belarusian', 'Xhosa', 'crp', 'Kalaallisut', 'smi', 'Aramaic',
       'Tajik', 'Malagasy', 'shg'], dtype=object)

In [81]:
movies['originalLanguage'].nunique()

110

In [82]:
# Create a dictionary for mapping original languages to standardized names
language_mapping = {
    'Korean': 'Korean',
    'English': 'English',
    'Hindi': 'Hindi',
    'French (France)': 'French',
    'Unknown': 'Unknown',
    'Japanese': 'Japanese',
    'Spanish': 'Spanish',
    'English (United Kingdom)': 'English',
    'Afrikaans': 'Afrikaans',
    'Italian': 'Italian',
    'Tagalog': 'Tagalog',
    'Dutch': 'Dutch',
    'Swedish': 'Swedish',
    'Spanish (Spain)': 'Spanish',
    'German': 'German',
    'Chinese': 'Chinese',
    'Arabic': 'Arabic',
    'Vietnamese': 'Vietnamese',
    'English (Australia)': 'English',
    'Tamil': 'Tamil',
    'Russian': 'Russian',
    'Bulgarian': 'Bulgarian',
    'Polish': 'Polish',
    'French (Canada)': 'French',
    'Bangla': 'Bangla',
    'Portuguese (Brazil)': 'Portuguese',
    'Czech': 'Czech',
    'French': 'French',
    'Telugu': 'Telugu',
    'Hebrew': 'Hebrew',
    'Navajo': 'Navajo',
    'Malayalam': 'Malayalam',
    'Urdu': 'Urdu',
    'Ukrainian': 'Ukrainian',
    'Icelandic': 'Icelandic',
    'Serbian': 'Serbian',
    'Malay': 'Malay',
    'Persian': 'Persian',
    'Macedonian': 'Macedonian',
    'Portuguese': 'Portuguese',
    'Hungarian': 'Hungarian',
    'Latin': 'Latin',
    'Filipino': 'Filipino',
    'Estonian': 'Estonian',
    'Danish': 'Danish',
    'Greek': 'Greek',
    'Turkish': 'Turkish',
    'Hmong': 'Hmong',
    'Unknown language': 'Unknown',
    'Finnish': 'Finnish',
    'Thai': 'Thai',
    'Norwegian': 'Norwegian',
    'Croatian': 'Croatian',
    'Bosnian': 'Bosnian',
    'Amharic': 'Amharic',
    'Inuktitut': 'Inuktitut',
    'Marathi': 'Marathi',
    'Punjabi': 'Punjabi',
    'Yiddish': 'Yiddish',
    'Georgian': 'Georgian',
    'Swahili': 'Swahili',
    'Dzongkha': 'Dzongkha',
    'Scottish Gaelic': 'Scottish Gaelic',
    'Romany': 'Romany',
    'Romanian': 'Romanian',
    'Bambara': 'Bambara',
    'Kannada': 'Kannada',
    'Albanian': 'Albanian',
    'Indonesian': 'Indonesian',
    'Tibetan': 'Tibetan',
    'Slovak': 'Slovak',
    'Khmer': 'Khmer',
    'Kyrgyz': 'Kyrgyz',
    'Gujarati': 'Gujarati',
    'Pashto': 'Pashto',
    'Slovenian': 'Slovenian',
    'Mongolian': 'Mongolian',
    'Lithuanian': 'Lithuanian',
    'Latvian': 'Latvian',
    'Sinhala': 'Sinhala',
    'Belarusian': 'Belarusian',
    'Welsh': 'Welsh',
    'Zulu': 'Zulu',
    'Azerbaijani': 'Azerbaijani',
    'Luxembourgish': 'Luxembourgish',
    'Maori': 'Maori',
    'Nepali': 'Nepali',
    'Catalan': 'Catalan',
    'Kurdish': 'Kurdish',
    'Somali': 'Somali',
    'Armenian': 'Armenian',
    'Faroese': 'Faroese',
    'Irish': 'Irish',
    'Wolof': 'Wolof',
    'Maltese': 'Maltese',
    'crp': 'creole',
    'Basque': 'Basque',
    'Lingala': 'Lingala',
    'Lao': 'Lao',
    'Galician': 'Galician',
    'nah': 'Nahuatl',
    'Cree': 'Cree',
    'Samoan': 'Samoan',
    'Xhosa': 'Xhosa',
    'Kalaallisut': 'Kalaallisut',
    'smi': 'Sami',
    'Aramaic': 'Aramaic',
    'Tajik': 'Tajik',
    'Malagasy': 'Malagasy',
    'shg': 'Shughni'
}

# Apply the mapping to the DataFrame
movies['originalLanguage'] = movies['originalLanguage'].map(language_mapping)
movies

,id,title,audienceScore,tomatoMeter,runtimeMinutes,genre,originalLanguage,director,writer,release_year
4,love_lies,"Love, Lies",43.000000,65.764818,120.0,Drama,Korean,"Park Heung-Sik,Heung-Sik Park","Ha Young-Joon,Jeon Yun-su,Song Hye-jin",Unknown
10,adrift_2018,Adrift,65.000000,69.000000,120.0,Adventure,English,Baltasar Kormkur,"Aaron Kandell,Jordan Kandell,David Branson Smith",2018
11,adrift_2018,Adrift,65.000000,69.000000,120.0,Drama,English,Baltasar Kormkur,"Aaron Kandell,Jordan Kandell,David Branson Smith",2018
12,adrift_2018,Adrift,65.000000,69.000000,120.0,Romance,English,Baltasar Kormkur,"Aaron Kandell,Jordan Kandell,David Branson Smith",2018
16,1035316-born_to_kill,Born to Kill,74.000000,83.000000,92.0,Crime,English,Robert Wise,"Eve Greene,Richard Macaulay",1947
...,...,...,...,...,...,...,...,...,...,...
213491,fun_size,Fun Size,47.000000,25.000000,86.0,Holiday,English,Josh Schwartz,Max Werner,2012
213492,fun_size,Fun Size,47.000000,25.000000,86.0,Comedy,English,Josh Schwartz,Max Werner,2012
213494,dassehra,Dassehra,55.669356,65.764818,131.0,Action,Hindi,Manish Vatsalya,Saurabh Choudhary,2019
213495,dassehra,Dassehra,55.669356,65.764818,131.0,Mystery & thriller,Hindi,Manish Vatsalya,Saurabh Choudhary,2019
213500,the-human-body,The Human Body,71.000000,89.000000,43.0,Documentary,English,Peter Georgi,Richard Dale,Unknown

In [82]:
movies['originalLanguage'].nunique()

103

In [83]:
movies['originalLanguage'].value_counts()

originalLanguage
English       72831
Unknown        7529
French         4259
Spanish        3160
Hindi          2550
              ...
Belarusian        1
Sami              1
Navajo            1
Nahuatl           1
Shughni           1
Name: count, Length: 103, dtype: int64

In [84]:
language_counts = movies['originalLanguage'].value_counts().reset_index()
language_counts.columns = ['Language', 'Count']
language_counts

       Language  Count
0       English  72831
1       Unknown   7529
2        French   4259
3       Spanish   3160
4         Hindi   2550
..          ...    ...
98   Belarusian      1
99         Sami      1
100      Navajo      1
101     Nahuatl      1
102     Shughni      1

[103 rows x 2 columns]

#### Director  since one title can have more than one director, let's extract and count them:

In [85]:
# Replace "Unknown Director" with "Unknown"
movies['director'] = movies['director'].str.replace('Unknown Director', 'Unknown')

In [86]:
len(movies['director'].unique())

32361

In [87]:
# Split the directors and count the frequency  
directors_list = movies['director'].str.split(',').explode()

# Count the frequency of each director  
director_counts = directors_list.value_counts()

print(director_counts)

director
Unknown            2556
Takashi Miike       105
Michael Curtiz       96
John Ford            84
Jules Bass           83
                   ...
Nicolas Charlet       1
Jack Woods            1
Lynne Tillman         1
Emre Yeksan           1
Peter Georgi          1
Name: count, Length: 33911, dtype: int64

In [88]:
len(director_counts)

33911

#### Writer  since one title can have more than one writer, let's extract and count them:

In [89]:
movies['writer'].value_counts()

writer
Unknown                                    27063
Woody Allen                                   61
Tyler Perry                                   42
Ingmar Bergman                                41
Romeo Muller                                  39
                                           ...
Paul Taublieb                                  1
Andrea Bussmann                                1
David Assael,Dale Rosenbloom,Sandy Tung        1
Ken Levison,Greg Morrison                      1
Richard Dale                                   1
Name: count, Length: 36266, dtype: int64

In [90]:
len(movies['writer'].unique())

36266

In [91]:
# Split the writer and count the frequency  
writers_list = movies['writer'].str.split(',').explode()

# Count the frequency of each writer  
writer_counts = writers_list.value_counts()

print(writer_counts)

writer
Unknown                  27063
                           148
Luc Besson                 106
Woody Allen                 71
Mark Monroe                 62
                         ...
Leila Djansi                 1
Surya Kumar Upadhayay        1
David Latham                 1
Lisa Bernard                 1
Richard Dale                 1
Name: count, Length: 41659, dtype: int64

In [92]:
len(writer_counts)

41659

#### Release Year:

In [93]:
movies['release_year'].unique()

array(['Unknown', '2018', '1947', '2016', '2002', '2020', '2009', '2011',
       '1999', '2005', '2013', '2017', '1963', '2021', '1996', '2012',
       '2022', '1991', '2006', '2015', '1993', '2001', '2019', '1970',
       '2014', '2004', '1998', '1919', '1939', '2008', '1957', '2003',
       '1971', '1950', '1974', '1964', '1972', '1990', '1941', '2007',
       '1944', '1994', '1977', '1929', '1943', '1961', '1949', '1956',
       '1976', '1959', '1958', '1951', '2023', '2010', '1960', '1934',
       '1997', '1988', '1940', '1967', '1942', '1952', '1995', '1973',
       '1948', '1981', '1927', '1938', '1965', '1987', '1978', '1928',
       '2000', '1931', '1985', '1986', '1980', '1937', '1916', '1953',
       '1962', '1936', '1982', '1966', '1932', '1946', '1945', '1921',
       '1935', '1992', '1955', '1984', '1989', '1925', '1954', '1924',
       '1983', '1909', '1923', '1968', '1922', '1969', '1979', '1975',
       '1933', '1920', '1930', '1902', '1917', '1926', '1915', '1914',
       '1918', '1908', '1913', '2032', '1912'], dtype=object)

#### Genre:

In [94]:
movies['genre'].unique()

array(['Drama', 'Adventure', 'Romance', 'Crime', 'Mystery & thriller',
       'Documentary', 'Comedy', 'Action', 'Unknown', 'Biography', 'Music',
       'History', 'Horror', 'Kids & family', 'Sci-fi', 'Fantasy',
       'Stand-up', 'Lgbtq+', 'Anime', 'Western', 'Musical', 'Animation',
       'Holiday', 'War', 'Gay & lesbian', 'Sports & fitness', 'Sports',
       'Foreign', 'Variety', 'Nature', 'Faith & spirituality',
       'Health & wellness', 'Short', 'Reality', 'Special interest',
       'Entertainment', 'News', 'Other'], dtype=object)

In [95]:
# Create a dictionary to map genres
genre_mapping = {
    'Drama': 'Drama',
    'Fantasy': 'Fantasy',
    'Adventure': 'Adventure',
    'Animation': 'Animation',
    'Romance': 'Romance',
    'Crime': 'Crime',
    'Mystery & thriller': 'Thriller',
    'Documentary': 'Documentary',
    'Comedy': 'Comedy',
    'Action': 'Action',
    'Holiday': 'Holiday',
    'Unknown': 'Unknown',
    'Biography': 'Biography',
    'Music': 'Music',
    'Horror': 'Horror',
    'History': 'History',
    'War': 'War',
    'Kids & family': 'Family',
    'Western': 'Western',
    'Sci-fi': 'Sci-fi',
    'Stand-up': 'Comedy',
    'Lgbtq+': 'LGBTQ+',
    'Anime': 'Animation',
    'Musical': 'Musical',
    'Gay & lesbian': 'LGBTQ+',
    'Sports & fitness': 'Sports',
    'Sports': 'Sports',
    'Foreign': 'Foreign',
    'Variety': 'Entertainment',
    'Nature': 'Documentary',
    'Faith & spirituality': 'Religion',
    'Health & wellness': 'Health',
    'Short': 'Short',
    'Reality': 'Reality',
    'Other': 'Other',
    'Special interest': 'Special Interest',
    'Entertainment': 'Entertainment',
    'News': 'News'
}

# Apply the mapping to the DataFrame
movies['genre'] = movies['genre'].map(genre_mapping)

In [96]:
movies['genre'].value_counts()

genre
Drama               26511
Comedy              15151
Documentary          9328
Thriller             8957
Unknown              5934
Horror               5674
Romance              4710
Action               4586
Adventure            3664
Crime                3144
Fantasy              2343
Sci-fi               2291
Family               2058
Animation            1828
Biography            1824
History              1406
Musical              1301
Western              1186
LGBTQ+               1068
War                   986
Music                 834
Holiday               702
Foreign                73
Sports                 70
Short                   9
Entertainment           6
Special Interest        4
Other                   4
Religion                3
Health                  3
Reality                 1
News                    1
Name: count, dtype: int64

In [97]:
# Convert it into a df for better visualization
genre_counts = movies['genre'].value_counts().reset_index()
genre_counts.columns = ['Genre', 'Count']
genre_counts

               Genre  Count
0              Drama  26511
1             Comedy  15151
2        Documentary   9328
3           Thriller   8957
4            Unknown   5934
5             Horror   5674
6            Romance   4710
7             Action   4586
8          Adventure   3664
9              Crime   3144
10           Fantasy   2343
11            Sci-fi   2291
12            Family   2058
13         Animation   1828
14         Biography   1824
15           History   1406
16           Musical   1301
17           Western   1186
18            LGBTQ+   1068
19               War    986
20             Music    834
21           Holiday    702
22           Foreign     73
23            Sports     70
24             Short      9
25     Entertainment      6
26  Special Interest      4
27             Other      4
28          Religion      3
29            Health      3
30           Reality      1
31              News      1

#### Round audience score and tomatometer:

In [98]:
movies['audienceScore'] = movies['audienceScore'].round(2)
movies['tomatoMeter'] = movies['tomatoMeter'].round(2)

In [99]:
movies.head()

,id,title,audienceScore,tomatoMeter,runtimeMinutes,genre,originalLanguage,director,writer,release_year
4,love_lies,"Love, Lies",43.0,65.76,120.0,Drama,Korean,"Park Heung-Sik,Heung-Sik Park","Ha Young-Joon,Jeon Yun-su,Song Hye-jin",Unknown
10,adrift_2018,Adrift,65.0,69.00,120.0,Adventure,English,Baltasar Kormkur,"Aaron Kandell,Jordan Kandell,David Branson Smith",2018
11,adrift_2018,Adrift,65.0,69.00,120.0,Drama,English,Baltasar Kormkur,"Aaron Kandell,Jordan Kandell,David Branson Smith",2018
12,adrift_2018,Adrift,65.0,69.00,120.0,Romance,English,Baltasar Kormkur,"Aaron Kandell,Jordan Kandell,David Branson Smith",2018
16,1035316-born_to_kill,Born to Kill,74.0,83.00,92.0,Crime,English,Robert Wise,"Eve Greene,Richard Macaulay",1947

### reviews

In [100]:
reviews.head()

,id,title,reviewId,creationDate,criticName,isTopCritic,reviewState,publicatioName,reviewText,scoreSentiment
0,beavers,Beavers,1145982,2003-05-23,Ivan M. Lincoln,False,fresh,Deseret News (Salt Lake City),Timed to be just long enough for most youngste...,POSITIVE
1,blood_mask,Blood Mask,1636744,2007-06-02,The Foywonder,False,rotten,Dread Central,It doesn't matter if a movie costs 300 million...,NEGATIVE
2,city_hunter_shinjuku_private_eyes,City Hunter: Shinjuku Private Eyes,2590987,2019-05-28,Reuben Baron,False,fresh,CBR,The choreography is so precise and lifelike at...,POSITIVE
3,city_hunter_shinjuku_private_eyes,City Hunter: Shinjuku Private Eyes,2558908,2019-02-14,Matt Schley,False,rotten,Japan Times,The film's out-of-touch attempts at humor may ...,NEGATIVE
4,dangerous_men_2015,Dangerous Men,2504681,2018-08-29,Pat Padua,False,fresh,DCist,Its clumsy determination is endearing and some...,POSITIVE

In [101]:
reviews.columns

Index(['id', 'title', 'reviewId', 'creationDate', 'criticName', 'isTopCritic',
       'reviewState', 'publicatioName', 'reviewText', 'scoreSentiment'],
      dtype='object')

In [102]:
reviews['creationDate'].nunique()

8395

In [103]:
reviews['criticName'].nunique()

15477

In [104]:
reviews['isTopCritic'].unique()

array([False,  True])

In [105]:
reviews['reviewState'].unique()

array(['fresh', 'rotten'], dtype=object)

In [106]:
reviews['publicatioName'][reviews['publicatioName'].str.contains('Unknown', case=False, na=False)].unique()

array(['Unknown2'], dtype=object)

In [107]:
reviews['publicatioName'].value_counts()

publicatioName
New York Times                     19464
Variety                            17410
Los Angeles Times                  14220
Hollywood Reporter                 13583
Dennis Schwartz Movie Reviews      13019
                                   ...
diaCRITICS                             1
Home Media Magazine                    1
So You Wanna Sell A Script             1
Plugged In                             1
Lake Highlands Advocate (Texas)        1
Name: count, Length: 2707, dtype: int64

In [108]:
reviews['scoreSentiment'].unique()

array(['POSITIVE', 'NEGATIVE'], dtype=object)

In [109]:
reviews.head()

,id,title,reviewId,creationDate,criticName,isTopCritic,reviewState,publicatioName,reviewText,scoreSentiment
0,beavers,Beavers,1145982,2003-05-23,Ivan M. Lincoln,False,fresh,Deseret News (Salt Lake City),Timed to be just long enough for most youngste...,POSITIVE
1,blood_mask,Blood Mask,1636744,2007-06-02,The Foywonder,False,rotten,Dread Central,It doesn't matter if a movie costs 300 million...,NEGATIVE
2,city_hunter_shinjuku_private_eyes,City Hunter: Shinjuku Private Eyes,2590987,2019-05-28,Reuben Baron,False,fresh,CBR,The choreography is so precise and lifelike at...,POSITIVE
3,city_hunter_shinjuku_private_eyes,City Hunter: Shinjuku Private Eyes,2558908,2019-02-14,Matt Schley,False,rotten,Japan Times,The film's out-of-touch attempts at humor may ...,NEGATIVE
4,dangerous_men_2015,Dangerous Men,2504681,2018-08-29,Pat Padua,False,fresh,DCist,Its clumsy determination is endearing and some...,POSITIVE

## Cleaning review texts

In [110]:
import re
import html

def clean_text(text):
    # Convert HTML entities to corresponding characters
    text = html.unescape(text)
    
    # Remove special characters (keep only letters, numbers, and spaces)
    text = re.sub(r'[^A-Za-z0-9\s]', '', text)
    
    # Remove multiple spaces
    text = re.sub(r'\s+', ' ', text)
    
    # Remove spaces at the beginning and end
    text = text.strip()
    
    return text

# Apply the clean_text function to all values in the 'reviewText' column
reviews['cleanedReviewText'] = reviews['reviewText'].apply(clean_text)

# Display the first few rows to check the result
print(reviews[['reviewText', 'cleanedReviewText']].head())

                                          reviewText  \
0  Timed to be just long enough for most youngste...
1  It doesn't matter if a movie costs 300 million...
2  The choreography is so precise and lifelike at...
3  The film's out-of-touch attempts at humor may ...
4  Its clumsy determination is endearing and some...

                                   cleanedReviewText
0  Timed to be just long enough for most youngste...
1  It doesnt matter if a movie costs 300 million ...
2  The choreography is so precise and lifelike at...
3  The films outoftouch attempts at humor may fin...
4  Its clumsy determination is endearing and some...

In [111]:
reviews.loc[1363874]

id                                               thor_love_and_thunder
title                                           Thor: Love and Thunder
reviewId                                                     102706147
creationDate                                                2022-07-05
criticName                                                 Roger Moore
isTopCritic                                                      False
reviewState                                                      fresh
publicatioName                                            Movie Nation
reviewText           It&#8217;s the jokes that make it&#44; with th...
scoreSentiment                                                POSITIVE
cleanedReviewText    Its the jokes that make it with the selfmockin...
Name: 1363874, dtype: object

# Exporting clean dfs

In [112]:
reviews.to_csv('clean_reviews.csv', index=False)
movies.to_csv('clean_movies.csv', index=False)

# EDA

In [2]:
# Verificar distribuio das classes

print(reviews['scoreSentiment'].value_counts())

NameError: name 'reviews' is not defined

In [ ]:
plt.figure(figsize=(8, 5))
sns.countplot(x=reviews["scoreSentiment"], palette="viridis")
plt.title("Distribuio dos sentimentos das crticas")
plt.xlabel("Sentimento")
plt.ylabel("Quantidade")
plt.show()

In [ ]:
movies_final

In [ ]:
load todos os csvs e analisar