# Importing Libraries

In [76]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from collections import defaultdict
import ast
from sklearn.decomposition import PCA
from sklearn.metrics.pairwise import cosine_similarity
import re
from fuzzywuzzy import process
import dask.dataframe as dd
import os

# CSVs Loading

In [77]:
# Load the DataFrame from a CSV file
reviews = pd.read_csv('/Users/danielebelmiro/Data_Analytics_Bootcamp/Rotten/reviews_emotions.csv')

In [78]:
reviews.head()

,id,title,reviewId,creationDate,criticName,isTopCritic,reviewState,publicatioName,reviewText,scoreSentiment,cleanedReviewText,predicted_moods
0,beavers,Beavers,1145982,2003-05-23,Ivan M. Lincoln,False,fresh,Deseret News (Salt Lake City),"Timed to be just long enough for most youngsters' brief attention spans -- and it's packed with plenty of interesting activity, both on land and under the water.",POSITIVE,Timed to be just long enough for most youngsters brief attention spans and its packed with plenty of interesting activity both on land and under the water,"[('excitement', 35.543839830098335), ('approval', 33.46019927394191), ('admiration', 14.496543413653109)]"
1,blood_mask,Blood Mask,1636744,2007-06-02,The Foywonder,False,rotten,Dread Central,"It doesn't matter if a movie costs 300 million or only 300 dollars; good is good and bad is bad, and Bloodmask: The Possession of Nicole Lameroux is just plain bad.",NEGATIVE,It doesnt matter if a movie costs 300 million or only 300 dollars good is good and bad is bad and Bloodmask The Possession of Nicole Lameroux is just plain bad,"[('disapproval', 56.05641547237329), ('annoyance', 16.554232640392087), ('disappointment', 6.739219413595081)]"
2,city_hunter_shinjuku_private_eyes,City Hunter: Shinjuku Private Eyes,2590987,2019-05-28,Reuben Baron,False,fresh,CBR,"The choreography is so precise and lifelike at points one might wonder whether the movie was rotoscoped, but no live-action reference footage was used. The quality is due to the skill of the animators and Kodama's love for professional wrestling.",POSITIVE,The choreography is so precise and lifelike at points one might wonder whether the movie was rotoscoped but no liveaction reference footage was used The quality is due to the skill of the animators and Kodamas love for professional wrestling,"[('admiration', 80.08288365216127), ('approval', 11.413153330660675), ('realization', 2.203470607201049)]"
3,city_hunter_shinjuku_private_eyes,City Hunter: Shinjuku Private Eyes,2558908,2019-02-14,Matt Schley,False,rotten,Japan Times,The film's out-of-touch attempts at humor may find them hunting for the reason the franchise was so popular in the first place.,NEGATIVE,The films outoftouch attempts at humor may find them hunting for the reason the franchise was so popular in the first place,"[('amusement', 22.690977576957067), ('realization', 22.334023735757526), ('approval', 20.482867563064357)]"
4,dangerous_men_2015,Dangerous Men,2504681,2018-08-29,Pat Padua,False,fresh,DCist,Its clumsy determination is endearing and sometimes wildly entertaining,POSITIVE,Its clumsy determination is endearing and sometimes wildly entertaining,"[('amusement', 49.197768434566136), ('admiration', 31.226476779217876), ('joy', 13.045682308905867)]"

In [79]:
movies = pd.read_csv('/Users/danielebelmiro/Data_Analytics_Bootcamp/Rotten/clean_movies.csv')

In [80]:
movies.head()

,id,title,audienceScore,tomatoMeter,runtimeMinutes,genre,originalLanguage,director,writer,release_year
0,love_lies,"Love, Lies",43.0,65.76,120.0,Drama,Korean,"Park Heung-Sik,Heung-Sik Park","Ha Young-Joon,Jeon Yun-su,Song Hye-jin",Unknown
1,adrift_2018,Adrift,65.0,69.00,120.0,Adventure,English,Baltasar Kormákur,"Aaron Kandell,Jordan Kandell,David Branson Smith",2018
2,adrift_2018,Adrift,65.0,69.00,120.0,Drama,English,Baltasar Kormákur,"Aaron Kandell,Jordan Kandell,David Branson Smith",2018
3,adrift_2018,Adrift,65.0,69.00,120.0,Romance,English,Baltasar Kormákur,"Aaron Kandell,Jordan Kandell,David Branson Smith",2018
4,1035316-born_to_kill,Born to Kill,74.0,83.00,92.0,Crime,English,Robert Wise,"Eve Greene,Richard Macaulay",1947

In [81]:
movies['id'].nunique()

67604

# Data Wrangling

### Movies

#### Group by id and transform the genres into a list:

In [82]:
movies_grouped = movies.groupby('id')['genre'].apply(list).reset_index()

# Merge the result back into the original DataFrame, keeping all columns
movies = movies.drop(columns=['genre']).drop_duplicates(subset=['id']).merge(movies_grouped, on='id', how='left')

In [83]:
movies.head()

,id,title,audienceScore,tomatoMeter,runtimeMinutes,originalLanguage,director,writer,release_year,genre
0,love_lies,"Love, Lies",43.00,65.76,120.0,Korean,"Park Heung-Sik,Heung-Sik Park","Ha Young-Joon,Jeon Yun-su,Song Hye-jin",Unknown,[Drama]
1,adrift_2018,Adrift,65.00,69.00,120.0,English,Baltasar Kormákur,"Aaron Kandell,Jordan Kandell,David Branson Smith",2018,"[Adventure, Drama, Romance]"
2,1035316-born_to_kill,Born to Kill,74.00,83.00,92.0,English,Robert Wise,"Eve Greene,Richard Macaulay",1947,"[Crime, Drama]"
3,garden_murder_case,The Garden Murder Case,55.67,65.76,61.0,English,Edwin L. Marin,Unknown,2016,[Thriller]
4,margarita_happy_hour,Margarita Happy Hour,55.67,76.00,98.0,English,Ilya Chaiken,Ilya Chaiken,2002,[Drama]

In [84]:
movies.loc[movies['title'] == 'How It Ends']

,id,title,audienceScore,tomatoMeter,runtimeMinutes,originalLanguage,director,writer,release_year,genre
13046,how_it_ends_2021,How It Ends,42.0,68.0,82.0,English,"Zoe Lister Jones,Daryl Wein","Daryl Wein,Zoe Lister Jones",2021,"[Comedy, Drama]"
47022,how_it_ends,How It Ends,17.0,17.0,113.0,English,David M. Rosenthal,Brooks McLaren,2018,"[Sci-fi, Thriller, Action, Adventure]"

### Reviews

#### Calculating the average emotions per movie:

### Explode and Split the Data
First, explode and split the predicted_moods column into emotion and probability:

In [85]:
# Convert tuple strings into actual tuples
reviews['predicted_moods'] = reviews['predicted_moods'].apply(ast.literal_eval)

# Explode the column
reviews_exploded = reviews.explode('predicted_moods')

# Split the tuples into separate columns
reviews_exploded[['emotion', 'probability']] = pd.DataFrame(reviews_exploded['predicted_moods'].tolist(), index=reviews_exploded.index)
reviews_exploded = reviews_exploded.drop(columns=['predicted_moods'])

# Convert 'probability' to numeric
reviews_exploded['probability'] = pd.to_numeric(reviews_exploded['probability'])

# Verify the result
reviews_exploded

,id,title,reviewId,creationDate,criticName,isTopCritic,reviewState,publicatioName,reviewText,scoreSentiment,cleanedReviewText,emotion,probability
0,beavers,Beavers,1145982,2003-05-23,Ivan M. Lincoln,False,fresh,Deseret News (Salt Lake City),"Timed to be just long enough for most youngsters' brief attention spans -- and it's packed with plenty of interesting activity, both on land and under the water.",POSITIVE,Timed to be just long enough for most youngsters brief attention spans and its packed with plenty of interesting activity both on land and under the water,excitement,35.543840
0,beavers,Beavers,1145982,2003-05-23,Ivan M. Lincoln,False,fresh,Deseret News (Salt Lake City),"Timed to be just long enough for most youngsters' brief attention spans -- and it's packed with plenty of interesting activity, both on land and under the water.",POSITIVE,Timed to be just long enough for most youngsters brief attention spans and its packed with plenty of interesting activity both on land and under the water,approval,33.460199
0,beavers,Beavers,1145982,2003-05-23,Ivan M. Lincoln,False,fresh,Deseret News (Salt Lake City),"Timed to be just long enough for most youngsters' brief attention spans -- and it's packed with plenty of interesting activity, both on land and under the water.",POSITIVE,Timed to be just long enough for most youngsters brief attention spans and its packed with plenty of interesting activity both on land and under the water,admiration,14.496543
1,blood_mask,Blood Mask,1636744,2007-06-02,The Foywonder,False,rotten,Dread Central,"It doesn't matter if a movie costs 300 million or only 300 dollars; good is good and bad is bad, and Bloodmask: The Possession of Nicole Lameroux is just plain bad.",NEGATIVE,It doesnt matter if a movie costs 300 million or only 300 dollars good is good and bad is bad and Bloodmask The Possession of Nicole Lameroux is just plain bad,disapproval,56.056415
1,blood_mask,Blood Mask,1636744,2007-06-02,The Foywonder,False,rotten,Dread Central,"It doesn't matter if a movie costs 300 million or only 300 dollars; good is good and bad is bad, and Bloodmask: The Possession of Nicole Lameroux is just plain bad.",NEGATIVE,It doesnt matter if a movie costs 300 million or only 300 dollars good is good and bad is bad and Bloodmask The Possession of Nicole Lameroux is just plain bad,annoyance,16.554233
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1363577,thor_love_and_thunder,Thor: Love and Thunder,102706148,2022-07-05,Jake Cole,True,rotten,Slant Magazine,Across Taika Waititi&#8217;s film&#44; a war against the gods feels like an afterthought to a bad rom-com&#46;,NEGATIVE,Across Taika Waititis film a war against the gods feels like an afterthought to a bad romcom,annoyance,29.755378
1363577,thor_love_and_thunder,Thor: Love and Thunder,102706148,2022-07-05,Jake Cole,True,rotten,Slant Magazine,Across Taika Waititi&#8217;s film&#44; a war against the gods feels like an afterthought to a bad rom-com&#46;,NEGATIVE,Across Taika Waititis film a war against the gods feels like an afterthought to a bad romcom,disapproval,16.977576
1363578,thor_love_and_thunder,Thor: Love and Thunder,102706147,2022-07-05,Roger Moore,False,fresh,Movie Nation,It&#8217;s the jokes that make it&#44; with the self-mocking man-mountain Chris Hemsworth setting the tone and making it fun&#44; and Natalie Portman&#44; Tessa Thompson and the rest taking their cue from him&#46;,POSITIVE,Its the jokes that make it with the selfmocking manmountain Chris Hemsworth setting the tone and making it fun and Natalie Portman Tessa Thompson and the rest taking their cue from him,amusement,66.380384
1363578,thor_love_and_thunder,Thor: Love and Thunder,102706147,2022-07-05,Roger Moore,False,fresh,Movie Nation,It&#8217;s the jokes that make it&#44; with the self-mocking man-mountain Chris Hemsworth setting the tone and making it fun&#44; and Natalie Portman&#44; Tessa Thompson and the rest taking their cue from him&#46;,POSITIVE,Its the jokes that make it with the selfmocking manmountain Chris Hemsworth setting the tone and making it fun and Natalie Portman Tessa Thompson and the rest taking their cue from him,joy,22.703058
1363578,thor_love_and_thunder,Thor: Love and Thunder,102706147,2022-07-05,Roger Moore,False,fresh,Movie Nation,It&#8217;s the jokes that make it&#44; with the self-mocking man-mountain Chris Hemsworth setting the tone and making it fun&#44; and Natalie Portman&#44; Tessa Thompson and the rest taking their cue from him&#46;,POSITIVE,Its the jokes that make it with the selfmocking manmountain Chris Hemsworth setting the tone and making it fun and Natalie Portman Tessa Thompson and the rest taking their cue from him,approval,3.990644

### Normalize Probabilities to Sum to 100%

In [86]:
# Normalize probabilities to sum to 100%
sum_probabilities = reviews_exploded.groupby('reviewId')['probability'].transform('sum')
reviews_exploded['probability_normalized'] = (reviews_exploded['probability'] / sum_probabilities) * 100

# Round the normalized probabilities to 4 decimal places
reviews_exploded['probability_normalized'] = reviews_exploded['probability_normalized'].round(4)

# Verify the result
reviews_exploded

,id,title,reviewId,creationDate,criticName,isTopCritic,reviewState,publicatioName,reviewText,scoreSentiment,cleanedReviewText,emotion,probability,probability_normalized
0,beavers,Beavers,1145982,2003-05-23,Ivan M. Lincoln,False,fresh,Deseret News (Salt Lake City),"Timed to be just long enough for most youngsters' brief attention spans -- and it's packed with plenty of interesting activity, both on land and under the water.",POSITIVE,Timed to be just long enough for most youngsters brief attention spans and its packed with plenty of interesting activity both on land and under the water,excitement,35.543840,42.5672
0,beavers,Beavers,1145982,2003-05-23,Ivan M. Lincoln,False,fresh,Deseret News (Salt Lake City),"Timed to be just long enough for most youngsters' brief attention spans -- and it's packed with plenty of interesting activity, both on land and under the water.",POSITIVE,Timed to be just long enough for most youngsters brief attention spans and its packed with plenty of interesting activity both on land and under the water,approval,33.460199,40.0718
0,beavers,Beavers,1145982,2003-05-23,Ivan M. Lincoln,False,fresh,Deseret News (Salt Lake City),"Timed to be just long enough for most youngsters' brief attention spans -- and it's packed with plenty of interesting activity, both on land and under the water.",POSITIVE,Timed to be just long enough for most youngsters brief attention spans and its packed with plenty of interesting activity both on land and under the water,admiration,14.496543,17.3610
1,blood_mask,Blood Mask,1636744,2007-06-02,The Foywonder,False,rotten,Dread Central,"It doesn't matter if a movie costs 300 million or only 300 dollars; good is good and bad is bad, and Bloodmask: The Possession of Nicole Lameroux is just plain bad.",NEGATIVE,It doesnt matter if a movie costs 300 million or only 300 dollars good is good and bad is bad and Bloodmask The Possession of Nicole Lameroux is just plain bad,disapproval,56.056415,70.6446
1,blood_mask,Blood Mask,1636744,2007-06-02,The Foywonder,False,rotten,Dread Central,"It doesn't matter if a movie costs 300 million or only 300 dollars; good is good and bad is bad, and Bloodmask: The Possession of Nicole Lameroux is just plain bad.",NEGATIVE,It doesnt matter if a movie costs 300 million or only 300 dollars good is good and bad is bad and Bloodmask The Possession of Nicole Lameroux is just plain bad,annoyance,16.554233,20.8623
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1363577,thor_love_and_thunder,Thor: Love and Thunder,102706148,2022-07-05,Jake Cole,True,rotten,Slant Magazine,Across Taika Waititi&#8217;s film&#44; a war against the gods feels like an afterthought to a bad rom-com&#46;,NEGATIVE,Across Taika Waititis film a war against the gods feels like an afterthought to a bad romcom,annoyance,29.755378,37.8302
1363577,thor_love_and_thunder,Thor: Love and Thunder,102706148,2022-07-05,Jake Cole,True,rotten,Slant Magazine,Across Taika Waititi&#8217;s film&#44; a war against the gods feels like an afterthought to a bad rom-com&#46;,NEGATIVE,Across Taika Waititis film a war against the gods feels like an afterthought to a bad romcom,disapproval,16.977576,21.5848
1363578,thor_love_and_thunder,Thor: Love and Thunder,102706147,2022-07-05,Roger Moore,False,fresh,Movie Nation,It&#8217;s the jokes that make it&#44; with the self-mocking man-mountain Chris Hemsworth setting the tone and making it fun&#44; and Natalie Portman&#44; Tessa Thompson and the rest taking their cue from him&#46;,POSITIVE,Its the jokes that make it with the selfmocking manmountain Chris Hemsworth setting the tone and making it fun and Natalie Portman Tessa Thompson and the rest taking their cue from him,amusement,66.380384,71.3199
1363578,thor_love_and_thunder,Thor: Love and Thunder,102706147,2022-07-05,Roger Moore,False,fresh,Movie Nation,It&#8217;s the jokes that make it&#44; with the self-mocking man-mountain Chris Hemsworth setting the tone and making it fun&#44; and Natalie Portman&#44; Tessa Thompson and the rest taking their cue from him&#46;,POSITIVE,Its the jokes that make it with the selfmocking manmountain Chris Hemsworth setting the tone and making it fun and Natalie Portman Tessa Thompson and the rest taking their cue from him,joy,22.703058,24.3925
1363578,thor_love_and_thunder,Thor: Love and Thunder,102706147,2022-07-05,Roger Moore,False,fresh,Movie Nation,It&#8217;s the jokes that make it&#44; with the self-mocking man-mountain Chris Hemsworth setting the tone and making it fun&#44; and Natalie Portman&#44; Tessa Thompson and the rest taking their cue from him&#46;,POSITIVE,Its the jokes that make it with the selfmocking manmountain Chris Hemsworth setting the tone and making it fun and Natalie Portman Tessa Thompson and the rest taking their cue from him,approval,3.990644,4.2876

In [87]:
# Verify the sum of normalized probabilities
sum_normalized = reviews_exploded.groupby('reviewId')['probability_normalized'].sum()

# Round the sums to 2 decimal places for display
sum_normalized = sum_normalized.round(2)

# Check unique values
print(sum_normalized.unique())

[100.]

## group by id and emotion and calculate the mean probability

In [88]:
# Agrupar por 'id' e 'emotion', calculando a média das probabilidades
reviews_grouped = reviews_exploded.groupby(['id', 'emotion'])['probability_normalized'].mean().reset_index()

# Verify the result
reviews_grouped.head(10)

              id         emotion  probability_normalized
0       $5_a_day      admiration                43.15200
1       $5_a_day       amusement                33.83000
2       $5_a_day       annoyance                36.67500
3       $5_a_day        approval                34.83245
4       $5_a_day  disappointment                32.67010
5       $5_a_day     disapproval                50.40925
6       $5_a_day             joy                21.32340
7       $5_a_day        optimism                11.22480
8       $5_a_day     realization                 7.48920
9  009_re_cyborg      admiration                49.29476

In [89]:
pd.set_option('display.max_colwidth', None)

reviews_exploded.loc[reviews_exploded['id'] == '$5_a_day']

,id,title,reviewId,creationDate,criticName,isTopCritic,reviewState,publicatioName,reviewText,scoreSentiment,cleanedReviewText,emotion,probability,probability_normalized
1213414,$5_a_day,Five Dollars a Day,2097498,2012-08-01,Kevin Carr,False,rotten,7M Pictures,"$5 a Day isn't perfect, but it does examine some of the issues that we have when connecting with our parents as adults.",NEGATIVE,5 a Day isnt perfect but it does examine some of the issues that we have when connecting with our parents as adults,disapproval,60.371897,70.1637
1213414,$5_a_day,Five Dollars a Day,2097498,2012-08-01,Kevin Carr,False,rotten,7M Pictures,"$5 a Day isn't perfect, but it does examine some of the issues that we have when connecting with our parents as adults.",NEGATIVE,5 a Day isnt perfect but it does examine some of the issues that we have when connecting with our parents as adults,approval,19.228371,22.3471
1213414,$5_a_day,Five Dollars a Day,2097498,2012-08-01,Kevin Carr,False,rotten,7M Pictures,"$5 a Day isn't perfect, but it does examine some of the issues that we have when connecting with our parents as adults.",NEGATIVE,5 a Day isnt perfect but it does examine some of the issues that we have when connecting with our parents as adults,realization,6.444050,7.4892
1213415,$5_a_day,Five Dollars a Day,1929215,2010-09-09,Brian Orndorf,False,rotten,DVDTalk.com,"Dreadfully formulaic and absent a thoughtful emotional core, the picture is best valued as a forgettable trifle starring Hollywood's most enduring weirdo.",NEGATIVE,Dreadfully formulaic and absent a thoughtful emotional core the picture is best valued as a forgettable trifle starring Hollywoods most enduring weirdo,annoyance,24.614549,36.6750
1213415,$5_a_day,Five Dollars a Day,1929215,2010-09-09,Brian Orndorf,False,rotten,DVDTalk.com,"Dreadfully formulaic and absent a thoughtful emotional core, the picture is best valued as a forgettable trifle starring Hollywood's most enduring weirdo.",NEGATIVE,Dreadfully formulaic and absent a thoughtful emotional core the picture is best valued as a forgettable trifle starring Hollywoods most enduring weirdo,disappointment,21.926653,32.6701
1213415,$5_a_day,Five Dollars a Day,1929215,2010-09-09,Brian Orndorf,False,rotten,DVDTalk.com,"Dreadfully formulaic and absent a thoughtful emotional core, the picture is best valued as a forgettable trifle starring Hollywood's most enduring weirdo.",NEGATIVE,Dreadfully formulaic and absent a thoughtful emotional core the picture is best valued as a forgettable trifle starring Hollywoods most enduring weirdo,disapproval,20.574082,30.6548
1213416,$5_a_day,Five Dollars a Day,1924503,2010-08-19,Jules Brenner,False,fresh,Cinema Signals,The success of the piece rests on Nivola's calm adaptability as fatherly hi-jinx tries his patience and makes its mark on his heart.,POSITIVE,The success of the piece rests on Nivolas calm adaptability as fatherly hijinx tries his patience and makes its mark on his heart,approval,37.784600,47.3178
1213416,$5_a_day,Five Dollars a Day,1924503,2010-08-19,Jules Brenner,False,fresh,Cinema Signals,The success of the piece rests on Nivola's calm adaptability as fatherly hi-jinx tries his patience and makes its mark on his heart.,POSITIVE,The success of the piece rests on Nivolas calm adaptability as fatherly hijinx tries his patience and makes its mark on his heart,admiration,33.104835,41.4574
1213416,$5_a_day,Five Dollars a Day,1924503,2010-08-19,Jules Brenner,False,fresh,Cinema Signals,The success of the piece rests on Nivola's calm adaptability as fatherly hi-jinx tries his patience and makes its mark on his heart.,POSITIVE,The success of the piece rests on Nivolas calm adaptability as fatherly hijinx tries his patience and makes its mark on his heart,optimism,8.963305,11.2248
1213417,$5_a_day,Five Dollars a Day,1780984,2008-11-16,David Nusair,False,fresh,Reel Film Reviews,...very amusing and agreeable...,POSITIVE,very amusing and agreeable,admiration,40.276130,44.8466
1213417,$5_a_day,Five Dollars a Day,1780984,2008-11-16,David Nusair,False,fresh,Reel Film Reviews,...very amusing and agreeable...,POSITIVE,very amusing and agreeable,amusement,30.382244,33.8300
1213417,$5_a_day,Five Dollars a Day,1780984,2008-11-16,David Nusair,False,fresh,Reel Film Reviews,...very amusing and agreeable...,POSITIVE,very amusing and agreeable,joy,19.150305,21.3234

In [90]:
# Selecionar as 3 emoções com as maiores médias para cada filme
top_3_emotions = reviews_grouped.groupby('id').apply(
    lambda x: x.nlargest(3, 'probability_normalized')
).reset_index(drop=True)

In [91]:
top_3_emotions

,id,emotion,probability_normalized
0,$5_a_day,disapproval,50.40925
1,$5_a_day,admiration,43.15200
2,$5_a_day,annoyance,36.67500
3,009_re_cyborg,disapproval,56.85230
4,009_re_cyborg,annoyance,50.76375
...,...,...,...
202807,zycie_jako_smiertelna_choroba_przenoszona_droga_plciowa_2000,approval,58.79150
202808,zycie_jako_smiertelna_choroba_przenoszona_droga_plciowa_2000,fear,33.92220
202809,zz_top_that_little_ol_band_from_texas,amusement,57.87560
202810,zz_top_that_little_ol_band_from_texas,joy,56.15785
202811,zz_top_that_little_ol_band_from_texas,approval,48.20310

In [92]:
# Normalizar as probabilidades para somar 100% para cada filme
top_3_emotions['probability_normalized'] = top_3_emotions.groupby('id')['probability_normalized'].transform(
    lambda x: (x / x.sum()) * 100
)

# Exibir o resultado
print(top_3_emotions.head())

              id      emotion  probability_normalized
0       $5_a_day  disapproval               38.706005
1       $5_a_day   admiration               33.133632
2       $5_a_day    annoyance               28.160362
3  009_re_cyborg  disapproval               36.023280
4  009_re_cyborg    annoyance               32.165396

In [93]:
top_3_emotions

,id,emotion,probability_normalized
0,$5_a_day,disapproval,38.706005
1,$5_a_day,admiration,33.133632
2,$5_a_day,annoyance,28.160362
3,009_re_cyborg,disapproval,36.023280
4,009_re_cyborg,annoyance,32.165396
...,...,...,...
202807,zycie_jako_smiertelna_choroba_przenoszona_droga_plciowa_2000,approval,38.438228
202808,zycie_jako_smiertelna_choroba_przenoszona_droga_plciowa_2000,fear,22.178533
202809,zz_top_that_little_ol_band_from_texas,amusement,35.673589
202810,zz_top_that_little_ol_band_from_texas,joy,34.614795
202811,zz_top_that_little_ol_band_from_texas,approval,29.711616

In [94]:
# Group by 'id' and create a list of tuples (emotion, probability_normalized)
new_df = top_3_emotions.groupby('id').apply(
    lambda x: list(zip(x['emotion'], x['probability_normalized'])))
new_df = new_df.reset_index()
new_df.columns = ['id', 'emotions']

new_df

,id,emotions
0,$5_a_day,"[(disapproval, 38.70600543243529), (admiration, 33.1336321492672), (annoyance, 28.16036241829752)]"
1,009_re_cyborg,"[(disapproval, 36.023279538211014), (annoyance, 32.165396240044096), (confusion, 31.81132422174489)]"
2,00_mhz,"[(annoyance, 41.840924718059824), (admiration, 36.49896509094363), (joy, 21.660110190996555)]"
3,1,"[(admiration, 61.524699999999996), (approval, 35.5203), (love, 2.955)]"
4,1-day,"[(admiration, 41.199610661687295), (amusement, 32.26985631655974), (disappointment, 26.530533021752966)]"
...,...,...
67599,zus_and_zo_2003,"[(desire, 40.01421221408237), (amusement, 30.742439443586793), (joy, 29.243348342330837)]"
67600,zvenigora,"[(confusion, 71.48010000000001), (disapproval, 17.093200000000003), (annoyance, 11.426700000000002)]"
67601,zwei_mutter_2013,"[(approval, 47.60089193324174), (admiration, 30.408156407361503), (realization, 21.990951659396757)]"
67602,zycie_jako_smiertelna_choroba_przenoszona_droga_plciowa_2000,"[(sadness, 39.38323877121109), (approval, 38.43822776765831), (fear, 22.178533461130584)]"
67603,zz_top_that_little_ol_band_from_texas,"[(amusement, 35.673588966234796), (joy, 34.614795494603406), (approval, 29.7116155391618)]"

In [95]:
# Merge movies and new_df

merged_df = movies.merge(new_df, on='id', how='left')

merged_df

,id,title,audienceScore,tomatoMeter,runtimeMinutes,originalLanguage,director,writer,release_year,genre,emotions
0,love_lies,"Love, Lies",43.00,65.76,120.0,Korean,"Park Heung-Sik,Heung-Sik Park","Ha Young-Joon,Jeon Yun-su,Song Hye-jin",Unknown,[Drama],"[(admiration, 78.20800919346894), (joy, 10.896268781721222), (approval, 10.89572202480984)]"
1,adrift_2018,Adrift,65.00,69.00,120.0,English,Baltasar Kormákur,"Aaron Kandell,Jordan Kandell,David Branson Smith",2018,"[Adventure, Drama, Romance]","[(admiration, 42.079146438693414), (disappointment, 29.810255887131987), (approval, 28.1105976741746)]"
2,1035316-born_to_kill,Born to Kill,74.00,83.00,92.0,English,Robert Wise,"Eve Greene,Richard Macaulay",1947,"[Crime, Drama]","[(admiration, 41.51550238655111), (disgust, 38.18461517417403), (disappointment, 20.299882439274857)]"
3,garden_murder_case,The Garden Murder Case,55.67,65.76,61.0,English,Edwin L. Marin,Unknown,2016,[Thriller],"[(amusement, 47.11795941712488), (admiration, 30.561675917621006), (approval, 22.320364665254107)]"
4,margarita_happy_hour,Margarita Happy Hour,55.67,76.00,98.0,English,Ilya Chaiken,Ilya Chaiken,2002,[Drama],"[(desire, 45.54859553528897), (admiration, 29.028624793560592), (joy, 25.42277967115044)]"
...,...,...,...,...,...,...,...,...,...,...,...
67599,operation_goldenshell,Operation Goldenshell (Operación Concha),55.67,65.76,88.0,Unknown,Antonio Cuadri,Unknown,Unknown,[Unknown],"[(amusement, 66.48219999999999), (realization, 20.131499999999996), (approval, 13.386299999999999)]"
67600,stag_night_of_the_dead,Stag Night of the Dead,43.00,65.76,81.0,English,Neil Jones,Neil Jones,2016,"[Horror, Action, Comedy]","[(approval, 60.283699999999996), (realization, 27.470399999999994), (admiration, 12.245899999999999)]"
67601,fun_size,Fun Size,47.00,25.00,86.0,English,Josh Schwartz,Max Werner,2012,"[Holiday, Comedy]","[(confusion, 48.71943200404655), (disappointment, 26.36692449980985), (amusement, 24.913643496143578)]"
67602,dassehra,Dassehra,55.67,65.76,131.0,Hindi,Manish Vatsalya,Saurabh Choudhary,2019,"[Action, Thriller]","[(approval, 71.40657548299487), (admiration, 20.783216447748366), (annoyance, 7.810208069256784)]"
67603,the-human-body,The Human Body,71.00,89.00,43.0,English,Peter Georgi,Richard Dale,Unknown,[Documentary],"[(admiration, 36.33886394698251), (curiosity, 33.04143545613497), (optimism, 30.619700596882527)]"

In [96]:
merged_df.isna().sum()

id                  0
title               0
audienceScore       0
tomatoMeter         0
runtimeMinutes      0
originalLanguage    0
director            0
writer              0
release_year        0
genre               0
emotions            0
dtype: int64

In [97]:
merged_df.to_csv("movies_emotions.csv", index=False)

In [98]:
movies = pd.read_csv('/Users/danielebelmiro/Data_Analytics_Bootcamp/Rotten/movies_emotions.csv')

In [99]:
movies.head()

,id,title,audienceScore,tomatoMeter,runtimeMinutes,originalLanguage,director,writer,release_year,genre,emotions
0,love_lies,"Love, Lies",43.00,65.76,120.0,Korean,"Park Heung-Sik,Heung-Sik Park","Ha Young-Joon,Jeon Yun-su,Song Hye-jin",Unknown,['Drama'],"[('admiration', 78.20800919346894), ('joy', 10.896268781721222), ('approval', 10.89572202480984)]"
1,adrift_2018,Adrift,65.00,69.00,120.0,English,Baltasar Kormákur,"Aaron Kandell,Jordan Kandell,David Branson Smith",2018,"['Adventure', 'Drama', 'Romance']","[('admiration', 42.079146438693414), ('disappointment', 29.810255887131987), ('approval', 28.1105976741746)]"
2,1035316-born_to_kill,Born to Kill,74.00,83.00,92.0,English,Robert Wise,"Eve Greene,Richard Macaulay",1947,"['Crime', 'Drama']","[('admiration', 41.51550238655111), ('disgust', 38.18461517417403), ('disappointment', 20.299882439274857)]"
3,garden_murder_case,The Garden Murder Case,55.67,65.76,61.0,English,Edwin L. Marin,Unknown,2016,['Thriller'],"[('amusement', 47.11795941712488), ('admiration', 30.561675917621006), ('approval', 22.320364665254107)]"
4,margarita_happy_hour,Margarita Happy Hour,55.67,76.00,98.0,English,Ilya Chaiken,Ilya Chaiken,2002,['Drama'],"[('desire', 45.54859553528897), ('admiration', 29.028624793560592), ('joy', 25.42277967115044)]"

normalização dos nomes dos filmes:

In [100]:
# Function to normalize names
def normalize_name(name):
    name = re.sub(r'[^a-zA-Z0-9\s]', '', name)  # Remove special characters
    name = name.lower().strip()  # Convert to lowercase and remove extra spaces
    return name

In [101]:
# Creating normalized title colunm in the movies df

movies['title_normalized'] = movies['title'].apply(normalize_name)

#### delete duplicated normalized titles:

In [102]:
# Step 1: Group by 'id' and create the 'count' column
# Group by 'id' and count occurrences in the reviews table
reviews_count = reviews['id'].value_counts().reset_index()
reviews_count.columns = ['id', 'count']

# Add the 'count' column to the movies DataFrame
movies = movies.merge(reviews_count, on='id', how='left')

# Fill NaN values with 0 (movies with no reviews)
movies['count'] = movies['count'].fillna(0)

# Step 2: Check for duplicate titles
# Create a DataFrame with one row per movie (using the first occurrence of each 'id')
movies_unique = movies.drop_duplicates(subset=['id'], keep='first')

# Check for duplicate normalized titles
duplicates = movies_unique[movies_unique['title_normalized'].duplicated(keep=False)]
print("Duplicate titles (considering one entry per movie):")
print(duplicates[['id', 'title_normalized']].sort_values(by='title_normalized'))

# Step 3: Remove movies with fewer occurrences
# Sort movies by normalized title and review count
movies_sorted = movies.sort_values(by=['title_normalized', 'count'], ascending=[True, False])

# Keep only the first occurrence of each normalized title (the one with the most reviews)
movies_no_duplicates = movies_sorted.drop_duplicates(subset=['title_normalized'], keep='first')

# Check if there are still duplicates
if movies_no_duplicates['title_normalized'].duplicated().any():
    print("There are still duplicate titles after removal.")
else:
    print("All duplicate titles have been removed.")

# Display the final DataFrame
print("\nFinal DataFrame without duplicates:")
print(movies_no_duplicates)

Duplicate titles (considering one entry per movie):
                       id title_normalized
15730              1_2013                1
2681   1-one-human-minute                1
66029              1_2017                1
964                     1                1
50302                 ten               10
...                   ...              ...
58403            zoo_2018              zoo
15094           zoom_2016             zoom
53027           zoom_2006             zoom
40729                zulu             zulu
52700           zulu_2013             zulu

[9566 rows x 2 columns]
All duplicate titles have been removed.

Final DataFrame without duplicates:
                                                                 id  \
49201                                          my_missing_valentine
53378                                                        00_mhz
16516                                                 009_re_cyborg
22292                                                            45
66029                                                        1_2017
...                                                             ...
26872                                                     zulu_dawn
63771                                                     zvenigora
43834  zycie_jako_smiertelna_choroba_przenoszona_droga_plciowa_2000
19024                         zz_top_that_little_ol_band_from_texas
43696                                                   burned_2006

                                                         title  audienceScore  \
49201                                                   消失的情人節          55.67
53378                                                  0.0 MHz          33.00
16516                                           009 Re: Cyborg          43.00
22292                                                     0.45          38.00
66029                                                       1%          82.00
...                                                        ...            ...
26872                                                Zulu Dawn          61.00
63771                                                Zvenigora          60.00
43834  Zycie Jako Smiertelna Choroba Przenoszona Droga Plciowa          62.00
19024                  ZZ Top: That Little Ol' Band From Texas          92.00
43696                                                    Zzyzx          40.00

       tomatoMeter  runtimeMinutes originalLanguage             director  \
49201        65.76           119.0          Chinese         Yu-Hsun Chen
53378        65.76           101.0           Korean         Yoo Sun-Dong
16516        23.00           103.0         Japanese       Kenji Kamiyama
22292        65.76           101.0          English          Gary Lennon
66029        47.00            88.0          Unknown     Stephen McCallum
...            ...             ...              ...                  ...
26872        50.00           121.0          English       Douglas Hickox
63771        65.76            90.0          Unknown  Aleksandr Dovzhenko
43834        65.76            88.0          Unknown    Krzysztof Zanussi
19024       100.00            90.0          English             Sam Dunn
43696        65.76            81.0          English      Richard Halpern

                                             writer release_year  \
49201                     Yu-Hsun Chen,Yu-Hsun Chen      Unknown
53378                                      Jang Jak         2020
16516                                Kenji Kamiyama         2015
22292                                   Gary Lennon         2020
66029                                       Unknown      Unknown
...                                             ...          ...
26872                                       Unknown         2005
63771  Aleksandr Dovzhenko,Mikhail Johansson,Yurtik      Unknown
43834                                       Unknown      Unknown
19024                        Sam Dunn,Ralph Chapman         2020
43696                              Art D'Alessandro         2007

                                                      genre  \
49201  ['Comedy', 'Drama', 'Fantasy', 'Foreign', 'Romance']
53378                                            ['Horror']
16516                     ['Action', 'Sci-fi', 'Animation']
22292                        ['Crime', 'Drama', 'Thriller']
66029                                           ['Unknown']
...                                                     ...
26872                                  ['History', 'Drama']
63771                                             ['Drama']
43834                                           ['Unknown']
19024                              ['Documentary', 'Music']
43696                                          ['Thriller']

                                                                                                           emotions  \
49201           [('admiration', 52.16256606223262), ('excitement', 24.98463494276986), ('joy', 22.852798994997528)]
53378           [('annoyance', 41.840924718059824), ('admiration', 36.49896509094363), ('joy', 21.660110190996555)]
16516    [('disapproval', 36.023279538211014), ('annoyance', 32.165396240044096), ('confusion', 31.81132422174489)]
22292                                            [('annoyance', 80.9424), ('anger', 14.1899), ('approval', 4.8677)]
66029  [('admiration', 40.5276835242493), ('disappointment', 30.096030871256218), ('approval', 29.376285604494484)]
...                                                                                                             ...
26872   [('approval', 42.721857728125535), ('admiration', 31.307022298011855), ('realization', 25.971119973862606)]
63771    [('confusion', 71.48010000000001), ('disapproval', 17.093200000000003), ('annoyance', 11.426700000000002)]
43834               [('sadness', 39.38323877121109), ('approval', 38.43822776765831), ('fear', 22.178533461130584)]
19024              [('amusement', 35.673588966234796), ('joy', 34.614795494603406), ('approval', 29.7116155391618)]
43696    [('approval', 37.162002902474896), ('disapproval', 34.991302315162024), ('confusion', 27.846694782363084)]

                                              title_normalized  count
49201                                                               3
53378                                                   00 mhz      3
16516                                            009 re cyborg     13
22292                                                      045      1
66029                                                        1     17
...                                                        ...    ...
26872                                                zulu dawn      4
63771                                                zvenigora      1
43834  zycie jako smiertelna choroba przenoszona droga plciowa      2
19024                    zz top that little ol band from texas      7
43696                                                    zzyzx      3

[61999 rows x 13 columns]

In [103]:
movies = movies_no_duplicates

In [104]:
movies.head()

,id,title,audienceScore,tomatoMeter,runtimeMinutes,originalLanguage,director,writer,release_year,genre,emotions,title_normalized,count
49201,my_missing_valentine,消失的情人節,55.67,65.76,119.0,Chinese,Yu-Hsun Chen,"Yu-Hsun Chen,Yu-Hsun Chen",Unknown,"['Comedy', 'Drama', 'Fantasy', 'Foreign', 'Romance']","[('admiration', 52.16256606223262), ('excitement', 24.98463494276986), ('joy', 22.852798994997528)]",,3
53378,00_mhz,0.0 MHz,33.00,65.76,101.0,Korean,Yoo Sun-Dong,Jang Jak,2020,['Horror'],"[('annoyance', 41.840924718059824), ('admiration', 36.49896509094363), ('joy', 21.660110190996555)]",00 mhz,3
16516,009_re_cyborg,009 Re: Cyborg,43.00,23.00,103.0,Japanese,Kenji Kamiyama,Kenji Kamiyama,2015,"['Action', 'Sci-fi', 'Animation']","[('disapproval', 36.023279538211014), ('annoyance', 32.165396240044096), ('confusion', 31.81132422174489)]",009 re cyborg,13
22292,45,0.45,38.00,65.76,101.0,English,Gary Lennon,Gary Lennon,2020,"['Crime', 'Drama', 'Thriller']","[('annoyance', 80.9424), ('anger', 14.1899), ('approval', 4.8677)]",045,1
66029,1_2017,1%,82.00,47.00,88.0,Unknown,Stephen McCallum,Unknown,Unknown,['Unknown'],"[('admiration', 40.5276835242493), ('disappointment', 30.096030871256218), ('approval', 29.376285604494484)]",1,17

In [105]:
movies.shape

(61999, 13)

In [106]:
movies[movies['id'] == '$5_a_day']

,id,title,audienceScore,tomatoMeter,runtimeMinutes,originalLanguage,director,writer,release_year,genre,emotions,title_normalized,count
60400,$5_a_day,Five Dollars a Day,49.0,65.76,98.0,English,Nigel Cole,"Neal H. Dobrofsky,Tippi Dobrofsky",2010,['Comedy'],"[('disapproval', 38.70600543243529), ('admiration', 33.1336321492672), ('annoyance', 28.16036241829752)]",five dollars a day,4

In [107]:
movies.to_csv("movies_final.csv", index=False)

### Transformar os Dados para o Formato Wide

In [108]:
# Transformar o DataFrame para o formato wide
reviews_wide = top_3_emotions.pivot(index='id', columns='emotion', values='probability_normalized')

# Preencher valores ausentes com 0
reviews_wide = reviews_wide.fillna(0)

reviews_wide = reviews_wide.round(3)  # Reduzir para 3 casas decimais

# Exibir o DataFrame transformado
reviews_wide.head()

emotion,admiration,amusement,anger,annoyance,approval,caring,confusion,curiosity,desire,disappointment,...,joy,love,nervousness,optimism,pride,realization,relief,remorse,sadness,surprise
id,,,,,,,,,,,,,,,,,,,,,
$5_a_day,33.134,0.00,0.0,28.160,0.00,0.0,0.000,0.0,0.0,0.000,...,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
009_re_cyborg,0.000,0.00,0.0,32.165,0.00,0.0,31.811,0.0,0.0,0.000,...,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
00_mhz,36.499,0.00,0.0,41.841,0.00,0.0,0.000,0.0,0.0,0.000,...,21.66,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,61.525,0.00,0.0,0.000,35.52,0.0,0.000,0.0,0.0,0.000,...,0.00,2.955,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1-day,41.200,32.27,0.0,0.000,0.00,0.0,0.000,0.0,0.0,26.531,...,0.00,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [109]:
reviews_wide.shape

(67604, 27)

#### Removing IDs that are not present in the movies DataFrame from the reviews_wide DataFrame

In [110]:
# Filtrar reviews_wide para manter apenas os IDs presentes em movies
reviews_wide = reviews_wide.loc[reviews_wide.index.isin(movies['id'])]

print(reviews_wide.shape)

reviews_wide.head()

(61999, 27)

emotion,admiration,amusement,anger,annoyance,approval,caring,confusion,curiosity,desire,disappointment,...,joy,love,nervousness,optimism,pride,realization,relief,remorse,sadness,surprise
id,,,,,,,,,,,,,,,,,,,,,
$5_a_day,33.134,0.00,0.0,28.160,0.0,0.0,0.000,0.0,0.0,0.000,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
009_re_cyborg,0.000,0.00,0.0,32.165,0.0,0.0,31.811,0.0,0.0,0.000,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
00_mhz,36.499,0.00,0.0,41.841,0.0,0.0,0.000,0.0,0.0,0.000,...,21.66,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1-day,41.200,32.27,0.0,0.000,0.0,0.0,0.000,0.0,0.0,26.531,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10-violent-women,0.000,0.00,0.0,0.000,0.0,0.0,0.000,0.0,0.0,60.545,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Cálculo de similaridade

uso de PCA (Principal Component Analysis) para reduzir a dimensionalidade dos dados antes de calcular a similaridade:

In [36]:
# Function to calculate similarity matrix based on emotion data
def calculate_similarity_matrix(reviews_wide):
    # Apply PCA to reduce dimensionality
    pca = PCA(n_components=0.97)  # Keep 97% of the variance
    reviews_reduced = pca.fit_transform(reviews_wide.values)
    
    # Calculate cosine similarity
    sim_matrix = cosine_similarity(reviews_reduced)
    
    # Convert to DataFrame
    sim_df = pd.DataFrame(sim_matrix, index=reviews_wide.index, columns=reviews_wide.index)
    
    return sim_df

In [37]:
sim_df = calculate_similarity_matrix(reviews_wide)

In [111]:
sim_df.head(10)

id,$5_a_day,009_re_cyborg,00_mhz,1-day,10-violent-women,1000013_12_angry_men,10000292-rat,10000594-guardian,10000604-porgy_and_bess,10000633-corrections,...,zu_warriors,zubaan,zulfiqar,zulu,zulu_dawn,zus_and_zo_2003,zvenigora,zwei_mutter_2013,zycie_jako_smiertelna_choroba_przenoszona_droga_plciowa_2000,zz_top_that_little_ol_band_from_texas
id,,,,,,,,,,,,,,,,,,,,,
$5_a_day,1.000000,0.642029,0.548673,0.015329,0.082268,-0.032376,-0.253434,0.482700,0.130828,-0.129166,...,-0.156126,-0.026932,0.141549,0.018491,-0.223483,-0.172544,0.151799,-0.256245,-0.356043,-0.402090
009_re_cyborg,0.642029,1.000000,0.289133,-0.307660,0.199621,-0.203014,-0.042702,0.536749,-0.238149,0.108952,...,0.032571,0.245216,0.316069,0.253954,-0.387281,0.021206,0.766338,-0.396007,-0.110629,-0.138062
00_mhz,0.548673,0.289133,1.000000,0.067840,-0.193498,0.002636,-0.084409,0.322849,0.182596,-0.018430,...,-0.161924,-0.011084,0.291749,0.046869,-0.178833,0.039386,0.006185,-0.213521,-0.358634,-0.099164
1-day,0.015329,-0.307660,0.067840,1.000000,0.255635,0.471322,0.489206,-0.296265,0.575874,-0.561338,...,-0.018815,-0.081025,0.148875,-0.003417,-0.276043,0.083998,-0.222214,-0.316739,-0.533836,-0.049871
10-violent-women,0.082268,0.199621,-0.193498,0.255635,1.000000,-0.221830,0.714519,0.207736,0.323433,-0.149357,...,0.558869,-0.086745,0.687980,-0.148026,-0.393194,-0.012994,0.079826,-0.399594,-0.134575,-0.161169
1000013_12_angry_men,-0.032376,-0.203014,0.002636,0.471322,-0.221830,1.000000,0.044597,-0.197991,0.068212,-0.425616,...,0.310352,-0.068951,-0.234892,0.516822,-0.300383,0.156318,-0.142557,-0.331760,-0.401555,0.048727
10000292-rat,-0.253434,-0.042702,-0.084409,0.489206,0.714519,0.044597,1.000000,0.236363,0.203773,-0.205425,...,0.338567,-0.131350,0.594542,-0.204797,-0.492790,0.402784,-0.021293,-0.498692,-0.188183,0.402407
10000594-guardian,0.482700,0.536749,0.322849,-0.296265,0.207736,-0.197991,0.236363,1.000000,-0.230630,-0.034733,...,0.023248,-0.063397,0.111684,-0.123741,-0.370985,0.369486,0.203754,-0.378792,-0.111027,0.363560
10000604-porgy_and_bess,0.130828,-0.238149,0.182596,0.575874,0.323433,0.068212,0.203773,-0.230630,1.000000,-0.464314,...,0.049042,0.005201,0.221216,0.102025,-0.114417,-0.242018,-0.169818,-0.157690,-0.439806,-0.491491
10000633-corrections,-0.129166,0.108952,-0.018430,-0.561338,-0.149357,-0.425616,-0.205425,-0.034733,-0.464314,1.000000,...,-0.115816,-0.228565,0.095200,-0.320840,0.188927,-0.130607,-0.020168,0.255447,0.584209,0.138095

In [39]:
import sys

# Calcular o tamanho da matriz em bytes
size_bytes = sys.getsizeof(sim_df)

# Converter para gigabytes (1 GB = 1e9 bytes)
size_gb = size_bytes / 1e9

print(f"Tamanho da matriz: {size_gb:.6f} GB")

Tamanho da matriz: 30.757760 GB

In [112]:
sample_df = sim_df.head(10)

In [40]:
sample_df.to_csv("sample_df.csv", index=False)

chunks de 300 filas
melt o pivot
join genero inner join columna de las 
filtrado por pelicula, groupby por id + top 5 
concat todos los chunks

In [113]:
print(movies.columns)

Index(['id', 'title', 'audienceScore', 'tomatoMeter', 'runtimeMinutes',
       'originalLanguage', 'director', 'writer', 'release_year', 'genre',
       'emotions', 'title_normalized', 'count'],
      dtype='object')

In [130]:
movies_subset = movies[['id', 'genre']].copy()
movies_subset.columns

Index(['id', 'genre'], dtype='object')

In [143]:
# Directory to save processed chunks
output_dir = '/Users/danielebelmiro/Data_Analytics_Bootcamp/Rotten/processed_chunks'
os.makedirs(output_dir, exist_ok=True)  # Create the directory if it doesn't exist

# Function to check if two movies share at least one genre
def has_common_genre(genres1, genres2):
    # Se um dos gêneros for 'Unknown', retornar True (considerar qualquer gênero)
    if 'unknown' in genres1 or 'unknown' in genres2:
        return True
    # Caso contrário, verificar se há gêneros em comum
    return not set(genres1).isdisjoint(genres2)

# Function to process each chunk
def process_chunk(chunk, movies):
    # Reset the index to make 'id' a column
    chunk = chunk.reset_index()
    
    # Step 2: Melt the matrix to transform it into pairs of IDs and similarity scores
    chunk_melt = chunk.melt(id_vars='id', var_name='id2', value_name='score')
    chunk_melt.rename(columns={'id': 'id1'}, inplace=True)
    
    # Convert columns to lighter data types to save memory
    chunk_melt['id1'] = chunk_melt['id1'].astype('category')
    chunk_melt['id2'] = chunk_melt['id2'].astype('category')
    chunk_melt['score'] = chunk_melt['score'].astype('float32')
    
    # Debug: Check the result of melt
    print("After melt:")
    print(chunk_melt.head())
    
    # Step 3: Inner join with the genres table to filter movies with at least one common genre
    chunk_melt = chunk_melt.merge(movies_subset, left_on='id1', right_on='id', suffixes=('', '_1'))
    chunk_melt = chunk_melt.merge(movies_subset, left_on='id2', right_on='id', suffixes=('', '_2'))
    
    # Convert genre columns to lists (if they are strings)
    chunk_melt['genre'] = chunk_melt['genre'].apply(ast.literal_eval)
    chunk_melt['genre_2'] = chunk_melt['genre_2'].apply(ast.literal_eval)
    
    # Debug: Check the result of merging
    print("After merging with genres:")
    print(chunk_melt.head())
    
    # Filtrar filmes que compartilham pelo menos um gênero (ou têm 'Unknown')
    chunk_melt = chunk_melt[chunk_melt.apply(lambda row: has_common_genre(row['genre'], row['genre_2']), axis=1)]
    
    # Step 4: Group by id1 and keep the top 6 most similar movies (incluindo o próprio filme)
    chunk_melt = chunk_melt.sort_values(by=['id1', 'score'], ascending=[True, False])
    chunk_melt = chunk_melt.groupby('id1').head(6)
    
    # Excluir o próprio filme (onde id1 == id2)
    chunk_melt = chunk_melt[chunk_melt['id1'] != chunk_melt['id2']]
    
    # Manter apenas os top 5 filmes similares
    chunk_melt = chunk_melt.groupby('id1').head(5)
    
    # Retornar colunas relevantes, incluindo gêneros
    return chunk_melt[['id1', 'id2', 'score', 'genre', 'genre_2']]

# Step 1: Split the sample DataFrame into chunks (e.g., 2 rows per chunk)
chunk_size = 2  # Small chunk size for testing
num_chunks = int(np.ceil(sample_df.shape[0] / chunk_size))

# List to store paths of processed files
processed_files = []

# Process each chunk
for i in range(num_chunks):
    # Check if the chunk has already been processed
    file_path = os.path.join(output_dir, f'chunk_{i}.parquet')
    if os.path.exists(file_path):
        print(f"Chunk {i} already processed. Skipping...")
        processed_files.append(file_path)
        continue
    
    print(f"Processing chunk {i + 1}/{num_chunks}")
    start = i * chunk_size
    end = min((i + 1) * chunk_size, sample_df.shape[0])
    chunk = sample_df.iloc[start:end, :]  # Select the current chunk
    
    # Process the chunk
    result_chunk = process_chunk(chunk, movies)
    
    # Save the processed chunk to a Parquet file
    result_chunk.to_parquet(file_path)
    processed_files.append(file_path)
    print(f"Chunk {i} saved to {file_path}")

# Step 5: Concatenate all processed chunks
print("Concatenating all processed chunks...")
df_final = pd.concat([pd.read_parquet(file, columns=['id1', 'id2', 'score', 'genre', 'genre_2']) for file in processed_files], ignore_index=True)

# Display the final DataFrame
print("Final DataFrame:")
print(df_final.head())

# Save the final DataFrame (optional)
df_final.to_parquet(os.path.join(output_dir, 'final_result.parquet'))
print("Process completed!")

Processing chunk 1/5
After melt:
             id1            id2     score
0       $5_a_day       $5_a_day  1.000000
1  009_re_cyborg       $5_a_day  0.642029
2       $5_a_day  009_re_cyborg  0.642029
3  009_re_cyborg  009_re_cyborg  1.000000
4       $5_a_day         00_mhz  0.548673
After merging with genres:
             id1            id2     score             id  \
0       $5_a_day       $5_a_day  1.000000       $5_a_day
1  009_re_cyborg       $5_a_day  0.642029  009_re_cyborg
2       $5_a_day  009_re_cyborg  0.642029       $5_a_day
3  009_re_cyborg  009_re_cyborg  1.000000  009_re_cyborg
4       $5_a_day         00_mhz  0.548673       $5_a_day

                         genre           id_2                      genre_2
0                     [Comedy]       $5_a_day                     [Comedy]
1  [Action, Sci-fi, Animation]       $5_a_day                     [Comedy]
2                     [Comedy]  009_re_cyborg  [Action, Sci-fi, Animation]
3  [Action, Sci-fi, Animation]  009_re_cyborg  [Action, Sci-fi, Animation]
4                     [Comedy]         00_mhz                     [Horror]
Chunk 0 saved to /Users/danielebelmiro/Data_Analytics_Bootcamp/Rotten/processed_chunks/chunk_0.parquet
Processing chunk 2/5
After melt:
      id1            id2     score
0  00_mhz       $5_a_day  0.548673
1   1-day       $5_a_day  0.015329
2  00_mhz  009_re_cyborg  0.289133
3   1-day  009_re_cyborg -0.307660
4  00_mhz         00_mhz  1.000000
After merging with genres:
      id1            id2     score      id     genre           id_2  \
0  00_mhz       $5_a_day  0.548673  00_mhz  [Horror]       $5_a_day
1   1-day       $5_a_day  0.015329   1-day   [Drama]       $5_a_day
2  00_mhz  009_re_cyborg  0.289133  00_mhz  [Horror]  009_re_cyborg
3   1-day  009_re_cyborg -0.307660   1-day   [Drama]  009_re_cyborg
4  00_mhz         00_mhz  1.000000  00_mhz  [Horror]         00_mhz

                       genre_2
0                     [Comedy]
1                     [Comedy]
2  [Action, Sci-fi, Animation]
3  [Action, Sci-fi, Animation]
4                     [Horror]
Chunk 1 saved to /Users/danielebelmiro/Data_Analytics_Bootcamp/Rotten/processed_chunks/chunk_1.parquet
Processing chunk 3/5
After melt:
                    id1            id2     score
0      10-violent-women       $5_a_day  0.082268
1  1000013_12_angry_men       $5_a_day -0.032376
2      10-violent-women  009_re_cyborg  0.199621
3  1000013_12_angry_men  009_re_cyborg -0.203014
4      10-violent-women         00_mhz -0.193498
After merging with genres:
                    id1            id2     score                    id  \
0      10-violent-women       $5_a_day  0.082268      10-violent-women
1  1000013_12_angry_men       $5_a_day -0.032376  1000013_12_angry_men
2      10-violent-women  009_re_cyborg  0.199621      10-violent-women
3  1000013_12_angry_men  009_re_cyborg -0.203014  1000013_12_angry_men
4      10-violent-women         00_mhz -0.193498      10-violent-women

      genre           id_2                      genre_2
0  [Action]       $5_a_day                     [Comedy]
1   [Drama]       $5_a_day                     [Comedy]
2  [Action]  009_re_cyborg  [Action, Sci-fi, Animation]
3   [Drama]  009_re_cyborg  [Action, Sci-fi, Animation]
4  [Action]         00_mhz                     [Horror]
Chunk 2 saved to /Users/danielebelmiro/Data_Analytics_Bootcamp/Rotten/processed_chunks/chunk_2.parquet
Processing chunk 4/5
After melt:
                 id1            id2     score
0       10000292-rat       $5_a_day -0.253434
1  10000594-guardian       $5_a_day  0.482700
2       10000292-rat  009_re_cyborg -0.042702
3  10000594-guardian  009_re_cyborg  0.536749
4       10000292-rat         00_mhz -0.084409
After merging with genres:
                 id1            id2     score                 id      genre  \
0       10000292-rat       $5_a_day -0.253434       10000292-rat  [Fantasy]
1  10000594-guardian       $5_a_day  0.482700  10000594-guardian  [Fantasy]
2       10000292-rat  009_re_cyborg -0.042702       10000292-rat  [Fantasy]
3  10000594-guardian  009_re_cyborg  0.536749  10000594-guardian  [Fantasy]
4       10000292-rat         00_mhz -0.084409       10000292-rat  [Fantasy]

            id_2                      genre_2
0       $5_a_day                     [Comedy]
1       $5_a_day                     [Comedy]
2  009_re_cyborg  [Action, Sci-fi, Animation]
3  009_re_cyborg  [Action, Sci-fi, Animation]
4         00_mhz                     [Horror]
Chunk 3 saved to /Users/danielebelmiro/Data_Analytics_Bootcamp/Rotten/processed_chunks/chunk_3.parquet
Processing chunk 5/5
After melt:
                       id1            id2     score
0  10000604-porgy_and_bess       $5_a_day  0.130828
1     10000633-corrections       $5_a_day -0.129166
2  10000604-porgy_and_bess  009_re_cyborg -0.238149
3     10000633-corrections  009_re_cyborg  0.108952
4  10000604-porgy_and_bess         00_mhz  0.182596
After merging with genres:
                       id1            id2     score                       id  \
0  10000604-porgy_and_bess       $5_a_day  0.130828  10000604-porgy_and_bess
1     10000633-corrections       $5_a_day -0.129166     10000633-corrections
2  10000604-porgy_and_bess  009_re_cyborg -0.238149  10000604-porgy_and_bess
3     10000633-corrections  009_re_cyborg  0.108952     10000633-corrections
4  10000604-porgy_and_bess         00_mhz  0.182596  10000604-porgy_and_bess

                       genre           id_2                      genre_2
0  [Drama, Musical, Romance]       $5_a_day                     [Comedy]
1                  [Unknown]       $5_a_day                     [Comedy]
2  [Drama, Musical, Romance]  009_re_cyborg  [Action, Sci-fi, Animation]
3                  [Unknown]  009_re_cyborg  [Action, Sci-fi, Animation]
4  [Drama, Musical, Romance]         00_mhz                     [Horror]
Chunk 4 saved to /Users/danielebelmiro/Data_Analytics_Bootcamp/Rotten/processed_chunks/chunk_4.parquet
Concatenating all processed chunks...
Final DataFrame:
        id1                               id2     score     genre  \
0  $5_a_day                     hotel_de_love  0.995643  [Comedy]
1  $5_a_day                        simple_men  0.986981  [Comedy]
2  $5_a_day  handsome_a_netflix_mystery_movie  0.986540  [Comedy]
3  $5_a_day                     i_love_melvin  0.986439  [Comedy]
4  $5_a_day          everything_under_control  0.975437  [Comedy]

                           genre_2
0                [Romance, Comedy]
1         [Comedy, Drama, Romance]
2                         [Comedy]
3                [Musical, Comedy]
4  [Comedy, Drama, Action, Horror]
Process completed!

In [144]:
df_final

,id1,id2,score,genre,genre_2
0,$5_a_day,hotel_de_love,0.995643,[Comedy],"[Romance, Comedy]"
1,$5_a_day,simple_men,0.986981,[Comedy],"[Comedy, Drama, Romance]"
2,$5_a_day,handsome_a_netflix_mystery_movie,0.986540,[Comedy],[Comedy]
3,$5_a_day,i_love_melvin,0.986439,[Comedy],"[Musical, Comedy]"
4,$5_a_day,everything_under_control,0.975437,[Comedy],"[Comedy, Drama, Action, Horror]"
5,009_re_cyborg,the_lion_of_judah,0.990261,"[Action, Sci-fi, Animation]","[Family, Holiday, Drama, Animation]"
6,009_re_cyborg,gog,0.974672,"[Action, Sci-fi, Animation]",[Sci-fi]
7,009_re_cyborg,frog_g_g,0.912526,"[Action, Sci-fi, Animation]","[Sci-fi, Comedy]"
8,009_re_cyborg,devons_ghost_legend_of_the_bloody_boy,0.872266,"[Action, Sci-fi, Animation]","[Horror, Action]"
9,009_re_cyborg,samurai_cop,0.843853,"[Action, Sci-fi, Animation]",[Action]
10,00_mhz,exeter,0.996350,[Horror],"[Horror, Thriller]"
11,00_mhz,monster_seafood_wars,0.991340,[Horror],"[Comedy, Horror]"
12,00_mhz,penumbra_2012,0.977618,[Horror],"[Horror, Thriller]"
13,00_mhz,the_dark_tapes,0.975301,[Horror],"[Horror, Sci-fi]"
14,00_mhz,2001_maniacs,0.960728,[Horror],[Horror]
15,1-day,eternal_beauty,0.999993,[Drama],"[Romance, Comedy, Drama]"
16,1-day,faces_of_women,0.999945,[Drama],"[Comedy, Drama]"
17,1-day,fanney_khan,0.999444,[Drama],"[Comedy, Drama, Musical]"
18,1-day,treading_water_2015,0.999428,[Drama],"[Comedy, Drama]"
19,1-day,lost_illusions_2021,0.998936,[Drama],"[Drama, History]"
20,10-violent-women,the_amazing_bulk_2010,0.995868,[Action],"[Action, Fantasy, Romance, Animation]"
21,10-violent-women,son_of_sardaar_2012,0.962059,[Action],"[Action, Comedy, Romance]"
22,10-violent-women,the_gauntlet_2013,0.957023,[Action],"[Action, Adventure, Horror]"
23,10-violent-women,my_way_a_gangsters_saga,0.955420,[Action],[Action]
24,10-violent-women,impossible_mission,0.948988,[Action],"[Action, Thriller]"
25,1000013_12_angry_men,last_legion,0.999996,[Drama],"[Action, History, Drama]"
26,1000013_12_angry_men,together_together,0.999923,[Drama],"[Comedy, Drama]"
27,1000013_12_angry_men,max_payne,0.999850,[Drama],"[Action, Crime, Drama, Fantasy, Thriller]"
28,1000013_12_angry_men,the_last_duel_2021,0.999778,[Drama],"[History, Drama]"
29,1000013_12_angry_men,cold_mountain,0.999775,[Drama],"[Drama, War]"
30,10000292-rat,sex_madness_revealed,0.988937,[Fantasy],"[Comedy, Fantasy, Horror]"
31,10000292-rat,shrek_the_halls,0.966861,[Fantasy],"[Family, Holiday, Adventure, Fantasy, Comedy, Animation]"
32,10000292-rat,one_magic_christmas,0.956940,[Fantasy],"[Family, Holiday, Fantasy]"
33,10000292-rat,the_king_and_the_mockingbird,0.938886,[Fantasy],"[Family, Fantasy, Animation]"
34,10000292-rat,the_golden_blade,0.924067,[Fantasy],[Fantasy]
35,10000594-guardian,the-land-of-college-prophets,0.957420,[Fantasy],"[Action, Fantasy, Horror]"
36,10000594-guardian,legend_of_frosty_the_snowman,0.948520,[Fantasy],"[Family, Holiday, Fantasy, Comedy, Animation]"
37,10000594-guardian,batteries_not_included,0.942098,[Fantasy],"[Family, Sci-fi, Fantasy, Comedy]"
38,10000594-guardian,until_we_meet_again_2022,0.934966,[Fantasy],"[Romance, Fantasy]"
39,10000594-guardian,train_ride_to_hollywood,0.933614,[Fantasy],"[Comedy, Drama, Fantasy]"
40,10000604-porgy_and_bess,actual_people,0.998632,"[Drama, Musical, Romance]",[Drama]
41,10000604-porgy_and_bess,intruder_in_the_dust_1949,0.996995,"[Drama, Musical, Romance]",[Drama]
42,10000604-porgy_and_bess,1101040-terrorist,0.996298,"[Drama, Musical, Romance]",[Drama]
43,10000604-porgy_and_bess,the_carpet_from_bagdad,0.993974,"[Drama, Musical, Romance]","[Adventure, Drama]"
44,10000604-porgy_and_bess,1011638-king_solomons_mines,0.992625,"[Drama, Musical, Romance]","[Adventure, Romance, Action]"
45,10000633-corrections,elizabeth_i_2006,0.986077,[Unknown],[Unknown]
46,10000633-corrections,the_greater_circulation_2005,0.955613,[Unknown],[Unknown]
47,10000633-corrections,the_house_that_screamed_1971,0.932143,[Unknown],[Unknown]
48,10000633-corrections,mashghe_shab,0.898681,[Unknown],[Unknown]
49,10000633-corrections,po-zakonu,0.876374,[Unknown],[Unknown]

In [133]:
df_final['genre'].dtype

dtype('O')

In [134]:
df_final['genre_2'].dtype

dtype('O')

In [136]:
# Verifique o tipo do primeiro valor de cada coluna
print(type(df_final['genre'].iloc[0]))
print(type(df_final['genre_2'].iloc[0]))

<class 'str'>
<class 'str'>

In [138]:
print(df_final['genre'].iloc[5])
print(df_final['genre_2'].iloc[5])

['Action', 'Sci-fi', 'Animation']
['Family', 'Holiday', 'Drama', 'Animation']

In [128]:
recommendations

,id,title,director,originalLanguage,runtimeMinutes,genre,release_year,tomatoMeter,audienceScore,similarity,emotions
0,hotel_de_love,Hotel de Love,Craig Rosenberg,English,95.00,"[Romance, Comedy]",Unknown,22.00,54.0,0.995643,"[('disapproval', 37.67944043788483), ('admiration', 36.74494103061423), ('annoyance', 25.575618531500933)]"
1,simple_men,Simple Men,Hal Hartley,English,105.00,"[Comedy, Drama, Romance]",2004,91.00,89.0,0.986981,"[('disapproval', 44.171436068251964), ('admiration', 33.65403737437839), ('annoyance', 22.174526557369653)]"
2,handsome_a_netflix_mystery_movie,Handsome: A Netflix Mystery Movie,Jeff Garlin,English,103.00,[Comedy],2017,65.76,31.0,0.986540,"[('disapproval', 45.653808792131116), ('admiration', 30.554937861873288), ('annoyance', 23.791253345995585)]"
3,i_love_melvin,I Love Melvin,Don Weis,English,76.00,"[Musical, Comedy]",1953,65.76,58.0,0.986439,"[('admiration', 38.62660210233127), ('disapproval', 32.85559726258748), ('annoyance', 28.517800635081255)]"
4,everything_under_control,Everything Under Control,Unknown,Chinese,93.75,"[Comedy, Drama, Action, Horror]",2023,65.76,60.0,0.975437,"[('admiration', 39.48153287055353), ('disapproval', 30.333672560212143), ('annoyance', 30.18479456923434)]"

## Filtering low similarity scores

In [ ]:
size_bytes = sys.getsizeof(sim_df_reduzida)

# Converter para gigabytes (1 GB = 1e9 bytes)
size_gb = size_bytes / 1e9

print(f"Tamanho da matriz: {size_gb:.6f} GB")

## Validating the similarity calculation

In [38]:
# Colunas de interesse
colunas = ['approval', 'amusement', 'surprise']

# Condição: Verifica se os valores nas colunas são maiores que zero
condicao = (reviews_wide[colunas] > 20)

# Filtra as linhas onde pelo menos 3 colunas atendem à condição
linhas_filtradas = reviews_wide[condicao.sum(axis=1) >= 3]

# Exibir o resultado
print(linhas_filtradas)

emotion                  admiration  amusement  anger  annoyance  approval  \
id
10008698-king_corn              0.0     34.124    0.0        0.0    31.708
1006250-dragnet                 0.0     33.403    0.0        0.0    28.819
1038237-platinum_blonde         0.0     43.619    0.0        0.0    26.868
1118698-empire                  0.0     30.693    0.0        0.0    28.538
1120843-hunted                  0.0     36.116    0.0        0.0    31.508
...                             ...        ...    ...        ...       ...
used_people                     0.0     36.491    0.0        0.0    30.280
web_junkie                      0.0     40.971    0.0        0.0    29.956
wheres_marlowe                  0.0     33.271    0.0        0.0    20.512
workforce                       0.0     32.062    0.0        0.0    26.473
wrong_turn_2                    0.0     31.592    0.0        0.0    30.241

emotion                  caring  confusion  curiosity  desire  disappointment  \
id
10008698-king_corn          0.0        0.0        0.0     0.0             0.0
1006250-dragnet             0.0        0.0        0.0     0.0             0.0
1038237-platinum_blonde     0.0        0.0        0.0     0.0             0.0
1118698-empire              0.0        0.0        0.0     0.0             0.0
1120843-hunted              0.0        0.0        0.0     0.0             0.0
...                         ...        ...        ...     ...             ...
used_people                 0.0        0.0        0.0     0.0             0.0
web_junkie                  0.0        0.0        0.0     0.0             0.0
wheres_marlowe              0.0        0.0        0.0     0.0             0.0
workforce                   0.0        0.0        0.0     0.0             0.0
wrong_turn_2                0.0        0.0        0.0     0.0             0.0

emotion                  ...  joy  love  nervousness  optimism  pride  \
id                       ...
10008698-king_corn       ...  0.0   0.0          0.0       0.0    0.0
1006250-dragnet          ...  0.0   0.0          0.0       0.0    0.0
1038237-platinum_blonde  ...  0.0   0.0          0.0       0.0    0.0
1118698-empire           ...  0.0   0.0          0.0       0.0    0.0
1120843-hunted           ...  0.0   0.0          0.0       0.0    0.0
...                      ...  ...   ...          ...       ...    ...
used_people              ...  0.0   0.0          0.0       0.0    0.0
web_junkie               ...  0.0   0.0          0.0       0.0    0.0
wheres_marlowe           ...  0.0   0.0          0.0       0.0    0.0
workforce                ...  0.0   0.0          0.0       0.0    0.0
wrong_turn_2             ...  0.0   0.0          0.0       0.0    0.0

emotion                  realization  relief  remorse  sadness  surprise
id
10008698-king_corn               0.0     0.0      0.0      0.0    34.168
1006250-dragnet                  0.0     0.0      0.0      0.0    37.778
1038237-platinum_blonde          0.0     0.0      0.0      0.0    29.513
1118698-empire                   0.0     0.0      0.0      0.0    40.769
1120843-hunted                   0.0     0.0      0.0      0.0    32.375
...                              ...     ...      ...      ...       ...
used_people                      0.0     0.0      0.0      0.0    33.229
web_junkie                       0.0     0.0      0.0      0.0    29.073
wheres_marlowe                   0.0     0.0      0.0      0.0    46.218
workforce                        0.0     0.0      0.0      0.0    41.465
wrong_turn_2                     0.0     0.0      0.0      0.0    38.166

[108 rows x 27 columns]

In [39]:
# veja a matriz e compare a similaridade entre filmes que você sabe que são semelhantes ou 
# diferentes com base nas porcentagens das emoções
# se dois filmes têm porcentagens muito parecidas para as mesmas emoções, a similaridade deve ser alta

# Filmes com porcentagens de emoções parecidas
filme_a = reviews_wide.loc['wrong_turn_2']
filme_b = reviews_wide.loc['10008698-king_corn']

# Verificar similaridade na matriz
similaridade = sim_df.loc['wrong_turn_2', '10008698-king_corn']
print(f"Similaridade: {similaridade}")

Similaridade: 0.9951038671755085

In [40]:
# Filmes com porcentagens de emoções diferentes
filme_a = reviews_wide.loc['katherine_ryan_glitter_room']
filme_b = reviews_wide.loc['009_re_cyborg']

# Verificar similaridade na matriz
similaridade = sim_df.loc['katherine_ryan_glitter_room', '009_re_cyborg']
print(f"Similaridade: {similaridade}")

Similaridade: -0.11369178286342177

In [42]:
# Aplicar PCA para reduzir a dimensionalidade
pca = PCA(n_components=0.97)  # Manter 97% da variância
reviews_reduced = pca.fit_transform(reviews_wide.values)

# Escolha dois filmes para comparar
filme1_id = 'katherine_ryan_glitter_room'  # Substitua pelo ID do primeiro filme
filme2_id = '009_re_cyborg'  # Substitua pelo ID do segundo filme

# Encontre os índices dos filmes na matriz reviews_wide
filme1_idx = reviews_wide.index.get_loc(filme1_id)
filme2_idx = reviews_wide.index.get_loc(filme2_id)

# Selecionar os vetores dos filmes após o PCA
filme1_vector = reviews_reduced[filme1_idx].reshape(1, -1)  # Transforma em formato (1, n_features)
filme2_vector = reviews_reduced[filme2_idx].reshape(1, -1)  # Transforma em formato (1, n_features)

# Calcular a similaridade do cosseno manualmente
similaridade_manual = cosine_similarity(filme1_vector, filme2_vector)[0][0]

# Obter o valor correspondente na matriz sim_df
similaridade_matriz = sim_df.loc[filme1_id, filme2_id]

# Exibir os resultados
print(f"Similaridade manual entre {filme1_id} e {filme2_id}: {similaridade_manual}")
print(f"Similaridade na matriz sim_df: {similaridade_matriz}")

# Verificar se os valores são iguais (ou muito próximos, devido a arredondamentos)
if np.isclose(similaridade_manual, similaridade_matriz, atol=1e-6):
    print("Os valores são iguais (dentro de uma tolerância pequena).")
else:
    print("Os valores são diferentes.")

Similaridade manual entre katherine_ryan_glitter_room e 009_re_cyborg: -0.11369178286342185
Similaridade na matriz sim_df: -0.11369178286342177
Os valores são iguais (dentro de uma tolerância pequena).

## Main recommendation function

In [124]:
def recommend_similar_movies(sim_df, movies, reviews, top_n=5):
    # Criar uma cópia do DataFrame para evitar modificar o original
    movies = movies.copy()

    # Converter a coluna 'genre' de string para lista (se necessário)
    if isinstance(movies['genre'].iloc[0], str):
        movies['genre'] = movies['genre'].apply(ast.literal_eval)

    while True:
        # Ask the user for their favorite movie
        favorite_movie = input("Enter the name of your favorite movie (or type 'exit' to quit): ").strip()

        # Allow the user to exit
        if favorite_movie.lower() == 'exit':
            print("Exiting the recommendation system. Goodbye!")
            return None

        # Normalize the movie name
        favorite_movie_normalized = normalize_name(favorite_movie)

        # Find the movie in the dataset
        matching_movies = movies[movies['title_normalized'] == favorite_movie_normalized]
        if matching_movies.empty:
            print(f"The movie '{favorite_movie}' was not found. Please check the name and try again.")
            continue  
        else:
            favorite_movie_id = matching_movies.iloc[0]['id']
            favorite_movie_title = matching_movies.iloc[0]['title']
            print(f"Found movie: {favorite_movie_title} (ID: {favorite_movie_id})")
            break  

    # Check if the movie is in the similarity matrix
    if favorite_movie_id not in sim_df.columns:
        print(f"Movie ID '{favorite_movie_id}' not found in the similarity matrix.")
        return None

    # Get similarity scores and sort by highest similarity
    movie_similarities = sim_df[favorite_movie_id].sort_values(ascending=False)

    # Remove the movie itself from recommendations
    movie_similarities = movie_similarities.drop(favorite_movie_id, errors='ignore')

    # Get genres of the favorite movie
    favorite_movie_genres = set(matching_movies['genre'].explode().values)
    print(favorite_movie_genres)

    # Filter recommendations by shared genre
    recommended_ids = movies[movies['genre'].apply(lambda genres: any(genre in favorite_movie_genres for genre in genres))]['id'].unique()
    movie_similarities = movie_similarities[movie_similarities.index.isin(recommended_ids)]

    # Get top N recommendations
    top_recommendations = movie_similarities.head(top_n).reset_index()
    top_recommendations.columns = ['id', 'similarity']

    # Merge with movie details
    recommended_movies = top_recommendations.merge(movies, on='id', how='left')

    # Select relevant columns
    result = recommended_movies[['id', 'title', 'director', 'originalLanguage', 'runtimeMinutes', 
                                 'genre', 'release_year', 'tomatoMeter', 'audienceScore', 
                                 'similarity', 'emotions']]

    # Exibir o perfil emocional do filme favorito
    
    favorite_movie_emotions = matching_movies.iloc[0]['emotions']
    print(f"Emotional profile of '{favorite_movie_title}':")  
    if isinstance(favorite_movie_emotions, list):
        print(f"   ❤️ Emotions: {', '.join([f'{mood} ({percentage:.1f}%)' for mood, percentage in favorite_movie_emotions])}")
    else:
        print(f"   ❤️ Emotions: {favorite_movie_emotions}")  
    print("-" * 50)
    
    
    # Print formatted recommendations
    print(f"\nTop {top_n} movie recommendations based on '{favorite_movie_title}':\n")


    # Exibir as recomendações
    for _, row in result.iterrows():
        print(f"🎬 Movie: {row['title']}")
        print(f"   🎬 Director: {row['director']}")
        print(f"   🌍 Language: {row['originalLanguage']}")
        print(f"   ⏳ Duration: {row['runtimeMinutes']} min")
        print(f"   🎭 Genre: {', '.join(row['genre'])}")
        print(f"   📅 Year: {row['release_year']}")
        print(f"   🍅 Tomatometer: {row['tomatoMeter']}%")
        print(f"   🎟️ Audience Score: {row['audienceScore']}%")
        print(f"   🔗 Similarity Score: {row['similarity']:.5f}")
        if isinstance(row['emotions'], list):
            print(f"   ❤️ Emotions: {', '.join([f'{mood} ({percentage:.1f}%)' for mood, percentage in row['emotions']])}")
        else:
            print(f"   ❤️ Emotions: {row['emotions']}")  # Exibe o valor real para depuração
        print("-" * 50)

    return result

# Generate recommendations

In [125]:
recommendations = recommend_similar_movies(sim_df, movies, reviews, top_n=5)

Enter the name of your favorite movie (or type 'exit' to quit): five dollars a day
Found movie: Five Dollars a Day (ID: $5_a_day)
{'Comedy'}
Emotional profile of 'Five Dollars a Day':
   ❤️ Emotions: [('disapproval', 38.70600543243529), ('admiration', 33.1336321492672), ('annoyance', 28.16036241829752)]
--------------------------------------------------

Top 5 movie recommendations based on 'Five Dollars a Day':

🎬 Movie: Hotel de Love
   🎬 Director: Craig Rosenberg
   🌍 Language: English
   ⏳ Duration: 95.0 min
   🎭 Genre: Romance, Comedy
   📅 Year: Unknown
   🍅 Tomatometer: 22.0%
   🎟️ Audience Score: 54.0%
   🔗 Similarity Score: 0.99564
   ❤️ Emotions: [('disapproval', 37.67944043788483), ('admiration', 36.74494103061423), ('annoyance', 25.575618531500933)]
--------------------------------------------------
🎬 Movie: Simple Men
   🎬 Director: Hal Hartley
   🌍 Language: English
   ⏳ Duration: 105.0 min
   🎭 Genre: Comedy, Drama, Romance
   📅 Year: 2004
   🍅 Tomatometer: 91.0%
   🎟️ Audience Score: 89.0%
   🔗 Similarity Score: 0.98698
   ❤️ Emotions: [('disapproval', 44.171436068251964), ('admiration', 33.65403737437839), ('annoyance', 22.174526557369653)]
--------------------------------------------------
🎬 Movie: Handsome: A Netflix Mystery Movie
   🎬 Director: Jeff Garlin
   🌍 Language: English
   ⏳ Duration: 103.0 min
   🎭 Genre: Comedy
   📅 Year: 2017
   🍅 Tomatometer: 65.76%
   🎟️ Audience Score: 31.0%
   🔗 Similarity Score: 0.98654
   ❤️ Emotions: [('disapproval', 45.653808792131116), ('admiration', 30.554937861873288), ('annoyance', 23.791253345995585)]
--------------------------------------------------
🎬 Movie: I Love Melvin
   🎬 Director: Don Weis
   🌍 Language: English
   ⏳ Duration: 76.0 min
   🎭 Genre: Musical, Comedy
   📅 Year: 1953
   🍅 Tomatometer: 65.76%
   🎟️ Audience Score: 58.0%
   🔗 Similarity Score: 0.98644
   ❤️ Emotions: [('admiration', 38.62660210233127), ('disapproval', 32.85559726258748), ('annoyance', 28.517800635081255)]
--------------------------------------------------
🎬 Movie: Everything Under Control
   🎬 Director: Unknown
   🌍 Language: Chinese
   ⏳ Duration: 93.75 min
   🎭 Genre: Comedy, Drama, Action, Horror
   📅 Year: 2023
   🍅 Tomatometer: 65.76%
   🎟️ Audience Score: 60.0%
   🔗 Similarity Score: 0.97544
   ❤️ Emotions: [('admiration', 39.48153287055353), ('disapproval', 30.333672560212143), ('annoyance', 30.18479456923434)]
--------------------------------------------------

In [126]:
recommendations

,id,title,director,originalLanguage,runtimeMinutes,genre,release_year,tomatoMeter,audienceScore,similarity,emotions
0,hotel_de_love,Hotel de Love,Craig Rosenberg,English,95.00,"[Romance, Comedy]",Unknown,22.00,54.0,0.995643,"[('disapproval', 37.67944043788483), ('admiration', 36.74494103061423), ('annoyance', 25.575618531500933)]"
1,simple_men,Simple Men,Hal Hartley,English,105.00,"[Comedy, Drama, Romance]",2004,91.00,89.0,0.986981,"[('disapproval', 44.171436068251964), ('admiration', 33.65403737437839), ('annoyance', 22.174526557369653)]"
2,handsome_a_netflix_mystery_movie,Handsome: A Netflix Mystery Movie,Jeff Garlin,English,103.00,[Comedy],2017,65.76,31.0,0.986540,"[('disapproval', 45.653808792131116), ('admiration', 30.554937861873288), ('annoyance', 23.791253345995585)]"
3,i_love_melvin,I Love Melvin,Don Weis,English,76.00,"[Musical, Comedy]",1953,65.76,58.0,0.986439,"[('admiration', 38.62660210233127), ('disapproval', 32.85559726258748), ('annoyance', 28.517800635081255)]"
4,everything_under_control,Everything Under Control,Unknown,Chinese,93.75,"[Comedy, Drama, Action, Horror]",2023,65.76,60.0,0.975437,"[('admiration', 39.48153287055353), ('disapproval', 30.333672560212143), ('annoyance', 30.18479456923434)]"